Hersan.UI.Ventas/Connected Services/WCF_Ensamble/Hersan_Ensamble1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62534/Hersan_Ensamble.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" />
  <xs:complexType name="EntidadesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q1:GeneralBE" />
      <xs:element minOccurs="0" name="Empresas" nillable="true" type="tns:EmpresasBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntidadesBE" nillable="true" type="tns:EntidadesBE" />
  <xs:complexType name="EmpresasBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="tns:CiudadesBE" />
      <xs:element minOccurs="0" name="Colonia" nillable="true" type="tns:ColoniasBE" />
      <xs:element minOccurs="0" name="Contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q2:GeneralBE" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="tns:EstadosBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NoExterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoInterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreFiscal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegimenFiscal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefonos" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpresasBE" nillable="true" type="tns:EmpresasBE" />
  <xs:complexType name="CiudadesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cabecera" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q3:GeneralBE" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="tns:EstadosBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CiudadesBE" nillable="true" type="tns:CiudadesBE" />
  <xs:complexType name="EstadosBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q4:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="tns:PaisesBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadosBE" nillable="true" type="tns:EstadosBE" />
  <xs:complexType name="PaisesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q5:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaisesBE" nillable="true" type="tns:PaisesBE" />
  <xs:complexType name="ColoniasBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CP" type="xs:int" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="tns:CiudadesBE" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q6:GeneralBE" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="tns:EstadosBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColoniasBE" nillable="true" type="tns:ColoniasBE" />
  <xs:complexType name="TiposClienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q7:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TiposClienteBE" nillable="true" type="tns:TiposClienteBE" />
  <xs:complexType name="ArrayOfFormasPagoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FormasPagoBE" nillable="true" type="tns:FormasPagoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFormasPagoBE" nillable="true" type="tns:ArrayOfFormasPagoBE" />
  <xs:complexType name="FormasPagoBE">
    <xs:sequence>
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q8:GeneralBE" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormasPagoBE" nillable="true" type="tns:FormasPagoBE" />
  <xs:complexType name="ArrayOfMetodosPagoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MetodosPagoBE" nillable="true" type="tns:MetodosPagoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMetodosPagoBE" nillable="true" type="tns:ArrayOfMetodosPagoBE" />
  <xs:complexType name="MetodosPagoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q9:GeneralBE" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MetodosPagoBE" nillable="true" type="tns:MetodosPagoBE" />
  <xs:complexType name="ArrayOfUsoCFDIBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsoCFDIBE" nillable="true" type="tns:UsoCFDIBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsoCFDIBE" nillable="true" type="tns:ArrayOfUsoCFDIBE" />
  <xs:complexType name="UsoCFDIBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q10:GeneralBE" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsoCFDIBE" nillable="true" type="tns:UsoCFDIBE" />
  <xs:complexType name="TipoProductoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q11:GeneralBE" />
      <xs:element minOccurs="0" name="Familia" nillable="true" type="tns:FamiliasBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoProductoBE" nillable="true" type="tns:TipoProductoBE" />
  <xs:complexType name="FamiliasBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q12:GeneralBE" />
      <xs:element minOccurs="0" name="Entidad" nillable="true" type="tns:EntidadesBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FamiliasBE" nillable="true" type="tns:FamiliasBE" />
  <xs:complexType name="ArrayOfAccesoriosBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccesoriosBE" nillable="true" type="tns:AccesoriosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccesoriosBE" nillable="true" type="tns:ArrayOfAccesoriosBE" />
  <xs:complexType name="AccesoriosBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q13:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccesoriosBE" nillable="true" type="tns:AccesoriosBE" />
  <xs:complexType name="ArrayOfColoresBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColoresBE" nillable="true" type="tns:ColoresBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColoresBE" nillable="true" type="tns:ArrayOfColoresBE" />
  <xs:complexType name="ColoresBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q14:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColoresBE" nillable="true" type="tns:ColoresBE" />
  <xs:complexType name="ArrayOfReflejantesBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReflejantesBE" nillable="true" type="tns:ReflejantesBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReflejantesBE" nillable="true" type="tns:ArrayOfReflejantesBE" />
  <xs:complexType name="ReflejantesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="tns:ColoresBE" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q15:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReflejantesBE" nillable="true" type="tns:ReflejantesBE" />
</xs:schema>