Hersan.UI.Ventas/Connected Services/WCF_Ensamble/Hersan_Ensamble.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62534/Hersan_Ensamble.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" />
  <xs:import schemaLocation="http://localhost:62534/Hersan_Ensamble.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" />
  <xs:complexType name="ClientesBE">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Agente" nillable="true" type="q1:AgentesBE" />
      <xs:element minOccurs="0" name="CP" type="xs:int" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Colonia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Compras" nillable="true" type="tns:ClientesComprasBE" />
      <xs:element minOccurs="0" name="Condiciones" nillable="true" type="tns:ClientesCondicionesBE" />
      <xs:element minOccurs="0" name="Correo1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo2" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q2:GeneralBE" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entidades" nillable="true" type="tns:ArrayOfClientesEntidadesBE" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdFiscal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nacional" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pagos" nillable="true" type="tns:ClientesPagosBE" />
      <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recepcion" nillable="true" type="tns:ArrayOfClientesRecepcionBE" />
      <xs:element minOccurs="0" name="Referencias" nillable="true" type="tns:ArrayOfClientesReferenciasBE" />
      <xs:element minOccurs="0" name="Sel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="TipoCliente" nillable="true" type="q3:TiposClienteBE" />
      <xs:element minOccurs="0" name="VIP" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientesBE" nillable="true" type="tns:ClientesBE" />
  <xs:complexType name="ClientesComprasBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q4:GeneralBE" />
      <xs:element minOccurs="0" name="Extension" type="xs:int" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientesComprasBE" nillable="true" type="tns:ClientesComprasBE" />
  <xs:complexType name="ClientesCondicionesBE">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q5:GeneralBE" />
      <xs:element minOccurs="0" name="Descuento" type="xs:decimal" />
      <xs:element minOccurs="0" name="DiasCredito" type="xs:int" />
      <xs:element minOccurs="0" name="FormaPago" type="xs:int" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="MetodoPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MontoCredito" type="xs:decimal" />
      <xs:element minOccurs="0" name="UsoCFDI" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientesCondicionesBE" nillable="true" type="tns:ClientesCondicionesBE" />
  <xs:complexType name="ArrayOfClientesEntidadesBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientesEntidadesBE" nillable="true" type="tns:ClientesEntidadesBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientesEntidadesBE" nillable="true" type="tns:ArrayOfClientesEntidadesBE" />
  <xs:complexType name="ClientesEntidadesBE">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q6:GeneralBE" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Entidad" nillable="true" type="q7:EntidadesBE" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientesEntidadesBE" nillable="true" type="tns:ClientesEntidadesBE" />
  <xs:complexType name="ClientesPagosBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contrarecibo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q8:GeneralBE" />
      <xs:element minOccurs="0" name="DiasPago" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Extension" type="xs:int" />
      <xs:element minOccurs="0" name="Horario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Plazo" type="xs:int" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientesPagosBE" nillable="true" type="tns:ClientesPagosBE" />
  <xs:complexType name="ArrayOfClientesRecepcionBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientesRecepcionBE" nillable="true" type="tns:ClientesRecepcionBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientesRecepcionBE" nillable="true" type="tns:ArrayOfClientesRecepcionBE" />
  <xs:complexType name="ClientesRecepcionBE">
    <xs:sequence>
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q9:GeneralBE" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Puesto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientesRecepcionBE" nillable="true" type="tns:ClientesRecepcionBE" />
  <xs:complexType name="ArrayOfClientesReferenciasBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientesReferenciasBE" nillable="true" type="tns:ClientesReferenciasBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientesReferenciasBE" nillable="true" type="tns:ArrayOfClientesReferenciasBE" />
  <xs:complexType name="ClientesReferenciasBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contacto" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q10:GeneralBE" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientesReferenciasBE" nillable="true" type="tns:ClientesReferenciasBE" />
  <xs:complexType name="ArrayOfClientesBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientesBE" nillable="true" type="tns:ClientesBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientesBE" nillable="true" type="tns:ArrayOfClientesBE" />
  <xs:complexType name="ServiciosBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q11:GeneralBE" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Entidad" nillable="true" type="q12:EntidadesBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiciosBE" nillable="true" type="tns:ServiciosBE" />
  <xs:complexType name="ArrayOfServiciosBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiciosBE" nillable="true" type="tns:ServiciosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiciosBE" nillable="true" type="tns:ArrayOfServiciosBE" />
  <xs:complexType name="ArrayOfPreciosBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreciosBE" nillable="true" type="tns:PreciosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreciosBE" nillable="true" type="tns:ArrayOfPreciosBE" />
  <xs:complexType name="PreciosBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="AAA" type="xs:decimal" />
      <xs:element minOccurs="0" name="CantidadMay" type="xs:int" />
      <xs:element minOccurs="0" name="CantidadVol" type="xs:int" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q13:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Mayoreo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Producto" nillable="true" type="q14:TipoProductoBE" />
      <xs:element minOccurs="0" name="Volumen" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreciosBE" nillable="true" type="tns:PreciosBE" />
  <xs:complexType name="ProductoEnsambleBE">
    <xs:sequence>
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Accesorios" nillable="true" type="q15:ArrayOfAccesoriosBE" />
      <xs:element minOccurs="0" name="CantAccesorios" type="xs:int" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q16:GeneralBE" />
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="tns:ArrayOfProductosCombinacion" />
      <xs:element minOccurs="0" name="Dimensiones" nillable="true" type="tns:DimensionesBE" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Entidad" nillable="true" type="q17:EntidadesBE" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Familia" nillable="true" type="q18:FamiliasBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Precio" nillable="true" type="tns:PreciosBE" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Producto" nillable="true" type="q19:TipoProductoBE" />
      <xs:element minOccurs="0" name="Reflejantes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoEnsambleBE" nillable="true" type="tns:ProductoEnsambleBE" />
  <xs:complexType name="ArrayOfProductosCombinacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductosCombinacion" nillable="true" type="tns:ProductosCombinacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductosCombinacion" nillable="true" type="tns:ArrayOfProductosCombinacion" />
  <xs:complexType name="ProductosCombinacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Concepto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Sel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductosCombinacion" nillable="true" type="tns:ProductosCombinacion" />
  <xs:complexType name="DimensionesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alto" type="xs:decimal" />
      <xs:element minOccurs="0" name="Ancho" type="xs:decimal" />
      <xs:element minOccurs="0" name="Cirunferencia" type="xs:decimal" />
      <xs:element minOccurs="0" name="Diametro" type="xs:decimal" />
      <xs:element minOccurs="0" name="Empaque" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Largo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Peso" type="xs:decimal" />
      <xs:element minOccurs="0" name="RutaImagen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DimensionesBE" nillable="true" type="tns:DimensionesBE" />
  <xs:complexType name="ArrayOfProductoEnsambleBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductoEnsambleBE" nillable="true" type="tns:ProductoEnsambleBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductoEnsambleBE" nillable="true" type="tns:ArrayOfProductoEnsambleBE" />
  <xs:complexType name="PedidosBE">
    <xs:sequence>
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Agente" nillable="true" type="q20:AgentesBE" />
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:ClientesBE" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Condiciones" nillable="true" type="q21:CondicionesExpBE" />
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q22:GeneralBE" />
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="tns:ArrayOfPedidoDetalleBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NoPedido" type="xs:int" />
      <xs:element minOccurs="0" name="Pedido" type="xs:boolean" />
      <xs:element minOccurs="0" name="Proyecto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Semaforo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidosBE" nillable="true" type="tns:PedidosBE" />
  <xs:complexType name="ArrayOfPedidoDetalleBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PedidoDetalleBE" nillable="true" type="tns:PedidoDetalleBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedidoDetalleBE" nillable="true" type="tns:ArrayOfPedidoDetalleBE" />
  <xs:complexType name="PedidoDetalleBE">
    <xs:sequence>
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Accesorios" nillable="true" type="q23:AccesoriosBE" />
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q24:GeneralBE" />
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Entidad" nillable="true" type="q25:EntidadesBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Producto" nillable="true" type="q26:TipoProductoBE" />
      <xs:element minOccurs="0" name="Reflec" nillable="true" type="xs:string" />
      <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Reflejantes" nillable="true" type="q27:ArrayOfReflejantesBE" />
      <xs:element minOccurs="0" name="Sel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Servicio" nillable="true" type="tns:ServiciosBE" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PedidoDetalleBE" nillable="true" type="tns:PedidoDetalleBE" />
  <xs:complexType name="ArrayOfPedidosBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PedidosBE" nillable="true" type="tns:PedidosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPedidosBE" nillable="true" type="tns:ArrayOfPedidosBE" />
</xs:schema>