Hersan.UI.APT/Connected Services/WCF_Ensamble/Hersan_Ensamble.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Hersan_Ensamble" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IHersan_Ensamble_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62534/Hersan_Ensamble.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62534/Hersan_Ensamble.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62534/Hersan_Ensamble.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:62534/Hersan_Ensamble.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" />
      <xsd:import schemaLocation="http://localhost:62534/Hersan_Ensamble.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" />
      <xsd:import schemaLocation="http://localhost:62534/Hersan_Ensamble.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" />
      <xsd:import schemaLocation="http://localhost:62534/Hersan_Ensamble.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:62534/Hersan_Ensamble.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Inyeccion" />
      <xsd:import schemaLocation="http://localhost:62534/Hersan_Ensamble.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Calidad" />
      <xsd:import schemaLocation="http://localhost:62534/Hersan_Ensamble.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.APT" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHersan_Ensamble_ABC_Clientes_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:ABC_Clientes_Guardar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ABC_Clientes_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ABC_Clientes_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ABC_Clientes_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:ABC_Clientes_Actualizar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ABC_Clientes_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ABC_Clientes_ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ABC_Clientes_Buscar_InputMessage">
    <wsdl:part name="parameters" element="tns:ABC_Clientes_Buscar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ABC_Clientes_Buscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ABC_Clientes_BuscarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ABC_Clientes_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:ABC_Clientes_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ABC_Clientes_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ABC_Clientes_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ABC_ClientesAgente_Combo_InputMessage">
    <wsdl:part name="parameters" element="tns:ABC_ClientesAgente_Combo" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ABC_ClientesAgente_Combo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ABC_ClientesAgente_ComboResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ABC_ClientesAgente_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:ABC_ClientesAgente_Guardar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ABC_ClientesAgente_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ABC_ClientesAgente_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ABC_FormaPago_Combo_InputMessage">
    <wsdl:part name="parameters" element="tns:ABC_FormaPago_Combo" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ABC_FormaPago_Combo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ABC_FormaPago_ComboResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ABC_MetodoPago_Combo_InputMessage">
    <wsdl:part name="parameters" element="tns:ABC_MetodoPago_Combo" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ABC_MetodoPago_Combo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ABC_MetodoPago_ComboResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ABC_UsoCFDI_Combo_InputMessage">
    <wsdl:part name="parameters" element="tns:ABC_UsoCFDI_Combo" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ABC_UsoCFDI_Combo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ABC_UsoCFDI_ComboResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ABC_RegimenFiscal_Combo_InputMessage">
    <wsdl:part name="parameters" element="tns:ABC_RegimenFiscal_Combo" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ABC_RegimenFiscal_Combo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ABC_RegimenFiscal_ComboResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Servicios_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Servicios_Guardar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Servicios_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Servicios_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Servicios_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Servicios_Actualizar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Servicios_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Servicios_ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Servicios_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Servicios_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Servicios_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Servicios_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Servicios_Combo_InputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Servicios_Combo" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Servicios_Combo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Servicios_ComboResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_ServiciosCotizacion_Combo_InputMessage">
    <wsdl:part name="parameters" element="tns:ENS_ServiciosCotizacion_Combo" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_ServiciosCotizacion_Combo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ENS_ServiciosCotizacion_ComboResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Precios_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Precios_Guardar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Precios_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Precios_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Precios_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Precios_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Precios_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Precios_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_ProductosFicha_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:ENS_ProductosFicha_Guardar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_ProductosFicha_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ENS_ProductosFicha_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_ProductosFicha_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:ENS_ProductosFicha_Actualizar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_ProductosFicha_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ENS_ProductosFicha_ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_ProductosFicha_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:ENS_ProductosFicha_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_ProductosFicha_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ENS_ProductosFicha_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_ProductosCotizacion_Combo_InputMessage">
    <wsdl:part name="parameters" element="tns:ENS_ProductosCotizacion_Combo" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_ProductosCotizacion_Combo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ENS_ProductosCotizacion_ComboResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_CarcasasCotizacion_Combo_InputMessage">
    <wsdl:part name="parameters" element="tns:ENS_CarcasasCotizacion_Combo" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_CarcasasCotizacion_Combo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ENS_CarcasasCotizacion_ComboResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_ReflejanteCotizacion_Combo_InputMessage">
    <wsdl:part name="parameters" element="tns:ENS_ReflejanteCotizacion_Combo" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_ReflejanteCotizacion_Combo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ENS_ReflejanteCotizacion_ComboResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_CodigoProducto_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:ENS_CodigoProducto_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_CodigoProducto_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ENS_CodigoProducto_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Cotizacion_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Cotizacion_Guardar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Cotizacion_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Cotizacion_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Cotizacion_Buscar_InputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Cotizacion_Buscar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Cotizacion_Buscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Cotizacion_BuscarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Cotizacion_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Cotizacion_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Cotizacion_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Cotizacion_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Cotizacion_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Cotizacion_Actualizar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Cotizacion_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Cotizacion_ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Cotizacion_Reporte_InputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Cotizacion_Reporte" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Cotizacion_Reporte_OutputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Cotizacion_ReporteResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Cotizacion_ReporteDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Cotizacion_ReporteDetalle" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Cotizacion_ReporteDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Cotizacion_ReporteDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Cotizacion_Consulta_InputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Cotizacion_Consulta" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Cotizacion_Consulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Cotizacion_ConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Pedido_Consulta_InputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Pedido_Consulta" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_ENS_Pedido_Consulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ENS_Pedido_ConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_Inyeccion_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:PRO_Inyeccion_Guardar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_Inyeccion_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:PRO_Inyeccion_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_Inyeccion_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:PRO_Inyeccion_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_Inyeccion_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:PRO_Inyeccion_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_Inyeccion_Consulta_InputMessage">
    <wsdl:part name="parameters" element="tns:PRO_Inyeccion_Consulta" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_Inyeccion_Consulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:PRO_Inyeccion_ConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_Temperaturas_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:PRO_Temperaturas_Guardar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_Temperaturas_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:PRO_Temperaturas_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_Temperaturas_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:PRO_Temperaturas_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_Temperaturas_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:PRO_Temperaturas_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_TemperaturasMolde_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:PRO_TemperaturasMolde_Guardar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_TemperaturasMolde_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:PRO_TemperaturasMolde_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_TemperaturasMolde_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:PRO_TemperaturasMolde_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_TemperaturasMolde_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:PRO_TemperaturasMolde_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_Parametros_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:PRO_Parametros_Guardar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_Parametros_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:PRO_Parametros_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_Temperaturas_Consulta_InputMessage">
    <wsdl:part name="parameters" element="tns:PRO_Temperaturas_Consulta" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_Temperaturas_Consulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:PRO_Temperaturas_ConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_Parametros_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:PRO_Parametros_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_Parametros_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:PRO_Parametros_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_Parametros_Consulta_InputMessage">
    <wsdl:part name="parameters" element="tns:PRO_Parametros_Consulta" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_Parametros_Consulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:PRO_Parametros_ConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionInyeccion_Guarda_InputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionInyeccion_Guarda" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionInyeccion_Guarda_OutputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionInyeccion_GuardaResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionInyeccion_Actualiza_InputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionInyeccion_Actualiza" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionInyeccion_Actualiza_OutputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionInyeccion_ActualizaResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_ReflejantesNorma_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:CAL_ReflejantesNorma_Guardar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_ReflejantesNorma_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:CAL_ReflejantesNorma_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_ReflejantesNorma_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:CAL_ReflejantesNorma_Actualizar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_ReflejantesNorma_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:CAL_ReflejantesNorma_ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_ReflejantesNorma_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:CAL_ReflejantesNorma_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_ReflejantesNorma_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:CAL_ReflejantesNorma_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionInyeccion_Analisis_InputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionInyeccion_Analisis" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionInyeccion_Analisis_OutputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionInyeccion_AnalisisResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionInyeccion_AnalisisDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionInyeccion_AnalisisDetalle" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionInyeccion_AnalisisDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionInyeccion_AnalisisDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_Ensamble_Parametros_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:PRO_Ensamble_Parametros_Guardar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_Ensamble_Parametros_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:PRO_Ensamble_Parametros_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_Ensamble_Parametros_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:PRO_Ensamble_Parametros_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_PRO_Ensamble_Parametros_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:PRO_Ensamble_Parametros_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionEnsamble_Consultar_InputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionEnsamble_Consultar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionEnsamble_Consultar_OutputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionEnsamble_ConsultarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionEnsamble_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionEnsamble_Guardar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionEnsamble_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionEnsamble_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionEnsamble_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionEnsamble_Actualizar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionEnsamble_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionEnsamble_ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionEnsamble_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionEnsamble_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionEnsamble_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionEnsamble_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionEnsamble_Analisis_InputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionEnsamble_Analisis" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionEnsamble_Analisis_OutputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionEnsamble_AnalisisResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionEnsamble_AnalisisDetalle_InputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionEnsamble_AnalisisDetalle" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionEnsamble_AnalisisDetalle_OutputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionEnsamble_AnalisisDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_ResguardoQA_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:CAL_ResguardoQA_Guardar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_ResguardoQA_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:CAL_ResguardoQA_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_ResguardoQA_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:CAL_ResguardoQA_Actualizar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_ResguardoQA_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:CAL_ResguardoQA_ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_ResguardoQA_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:CAL_ResguardoQA_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_ResguardoQA_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:CAL_ResguardoQA_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_AnalisisInyeccion_Histograma_InputMessage">
    <wsdl:part name="parameters" element="tns:CAL_AnalisisInyeccion_Histograma" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_AnalisisInyeccion_Histograma_OutputMessage">
    <wsdl:part name="parameters" element="tns:CAL_AnalisisInyeccion_HistogramaResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_AnalisisInyeccion_GraficaControl_InputMessage">
    <wsdl:part name="parameters" element="tns:CAL_AnalisisInyeccion_GraficaControl" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_AnalisisInyeccion_GraficaControl_OutputMessage">
    <wsdl:part name="parameters" element="tns:CAL_AnalisisInyeccion_GraficaControlResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_AnalisisInyeccion_Histograma_Historico_InputMessage">
    <wsdl:part name="parameters" element="tns:CAL_AnalisisInyeccion_Histograma_Historico" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_AnalisisInyeccion_Histograma_Historico_OutputMessage">
    <wsdl:part name="parameters" element="tns:CAL_AnalisisInyeccion_Histograma_HistoricoResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_AnalisisInyeccion_GraficaSeries_InputMessage">
    <wsdl:part name="parameters" element="tns:CAL_AnalisisInyeccion_GraficaSeries" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_AnalisisInyeccion_GraficaSeries_OutputMessage">
    <wsdl:part name="parameters" element="tns:CAL_AnalisisInyeccion_GraficaSeriesResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionEnsamble_Histograma_InputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionEnsamble_Histograma" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionEnsamble_Histograma_OutputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionEnsamble_HistogramaResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionEnsamble_HistogramaHistorico_InputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionEnsamble_HistogramaHistorico" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_InspeccionEnsamble_HistogramaHistorico_OutputMessage">
    <wsdl:part name="parameters" element="tns:CAL_InspeccionEnsamble_HistogramaHistoricoResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_ResguardoQA_Grafica_InputMessage">
    <wsdl:part name="parameters" element="tns:CAL_ResguardoQA_Grafica" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_CAL_ResguardoQA_Grafica_OutputMessage">
    <wsdl:part name="parameters" element="tns:CAL_ResguardoQA_GraficaResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_APT_Almacenes_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:APT_Almacenes_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_APT_Almacenes_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:APT_Almacenes_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_APT_Almacenes_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:APT_Almacenes_Guardar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_APT_Almacenes_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:APT_Almacenes_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_APT_Almacenes_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:APT_Almacenes_Actualizar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_APT_Almacenes_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:APT_Almacenes_ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_APT_Almacenes_Combo_InputMessage">
    <wsdl:part name="parameters" element="tns:APT_Almacenes_Combo" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_APT_Almacenes_Combo_OutputMessage">
    <wsdl:part name="parameters" element="tns:APT_Almacenes_ComboResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_APT_Ubicacion_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:APT_Ubicacion_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_APT_Ubicacion_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:APT_Ubicacion_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_APT_Ubicacion_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:APT_Ubicacion_Guardar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_APT_Ubicacion_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:APT_Ubicacion_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_APT_Ubicacion_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:APT_Ubicacion_Actualizar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ensamble_APT_Ubicacion_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:APT_Ubicacion_ActualizarResponse" />
  </wsdl:message>
  <wsdl:portType name="IHersan_Ensamble">
    <wsdl:operation name="ABC_Clientes_Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ABC_Clientes_Guardar" message="tns:IHersan_Ensamble_ABC_Clientes_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ABC_Clientes_GuardarResponse" message="tns:IHersan_Ensamble_ABC_Clientes_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ABC_Clientes_Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ABC_Clientes_Actualizar" message="tns:IHersan_Ensamble_ABC_Clientes_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ABC_Clientes_ActualizarResponse" message="tns:IHersan_Ensamble_ABC_Clientes_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ABC_Clientes_Buscar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ABC_Clientes_Buscar" message="tns:IHersan_Ensamble_ABC_Clientes_Buscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ABC_Clientes_BuscarResponse" message="tns:IHersan_Ensamble_ABC_Clientes_Buscar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ABC_Clientes_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ABC_Clientes_Obtener" message="tns:IHersan_Ensamble_ABC_Clientes_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ABC_Clientes_ObtenerResponse" message="tns:IHersan_Ensamble_ABC_Clientes_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ABC_ClientesAgente_Combo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ABC_ClientesAgente_Combo" message="tns:IHersan_Ensamble_ABC_ClientesAgente_Combo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ABC_ClientesAgente_ComboResponse" message="tns:IHersan_Ensamble_ABC_ClientesAgente_Combo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ABC_ClientesAgente_Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ABC_ClientesAgente_Guardar" message="tns:IHersan_Ensamble_ABC_ClientesAgente_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ABC_ClientesAgente_GuardarResponse" message="tns:IHersan_Ensamble_ABC_ClientesAgente_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ABC_FormaPago_Combo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ABC_FormaPago_Combo" message="tns:IHersan_Ensamble_ABC_FormaPago_Combo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ABC_FormaPago_ComboResponse" message="tns:IHersan_Ensamble_ABC_FormaPago_Combo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ABC_MetodoPago_Combo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ABC_MetodoPago_Combo" message="tns:IHersan_Ensamble_ABC_MetodoPago_Combo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ABC_MetodoPago_ComboResponse" message="tns:IHersan_Ensamble_ABC_MetodoPago_Combo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ABC_UsoCFDI_Combo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ABC_UsoCFDI_Combo" message="tns:IHersan_Ensamble_ABC_UsoCFDI_Combo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ABC_UsoCFDI_ComboResponse" message="tns:IHersan_Ensamble_ABC_UsoCFDI_Combo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ABC_RegimenFiscal_Combo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ABC_RegimenFiscal_Combo" message="tns:IHersan_Ensamble_ABC_RegimenFiscal_Combo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ABC_RegimenFiscal_ComboResponse" message="tns:IHersan_Ensamble_ABC_RegimenFiscal_Combo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ENS_Servicios_Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Servicios_Guardar" message="tns:IHersan_Ensamble_ENS_Servicios_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Servicios_GuardarResponse" message="tns:IHersan_Ensamble_ENS_Servicios_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ENS_Servicios_Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Servicios_Actualizar" message="tns:IHersan_Ensamble_ENS_Servicios_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Servicios_ActualizarResponse" message="tns:IHersan_Ensamble_ENS_Servicios_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ENS_Servicios_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Servicios_Obtener" message="tns:IHersan_Ensamble_ENS_Servicios_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Servicios_ObtenerResponse" message="tns:IHersan_Ensamble_ENS_Servicios_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ENS_Servicios_Combo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Servicios_Combo" message="tns:IHersan_Ensamble_ENS_Servicios_Combo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Servicios_ComboResponse" message="tns:IHersan_Ensamble_ENS_Servicios_Combo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ENS_ServiciosCotizacion_Combo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_ServiciosCotizacion_Combo" message="tns:IHersan_Ensamble_ENS_ServiciosCotizacion_Combo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_ServiciosCotizacion_ComboResponse" message="tns:IHersan_Ensamble_ENS_ServiciosCotizacion_Combo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ENS_Precios_Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Precios_Guardar" message="tns:IHersan_Ensamble_ENS_Precios_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Precios_GuardarResponse" message="tns:IHersan_Ensamble_ENS_Precios_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ENS_Precios_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Precios_Obtener" message="tns:IHersan_Ensamble_ENS_Precios_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Precios_ObtenerResponse" message="tns:IHersan_Ensamble_ENS_Precios_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ENS_ProductosFicha_Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_ProductosFicha_Guardar" message="tns:IHersan_Ensamble_ENS_ProductosFicha_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_ProductosFicha_GuardarResponse" message="tns:IHersan_Ensamble_ENS_ProductosFicha_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ENS_ProductosFicha_Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_ProductosFicha_Actualizar" message="tns:IHersan_Ensamble_ENS_ProductosFicha_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_ProductosFicha_ActualizarResponse" message="tns:IHersan_Ensamble_ENS_ProductosFicha_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ENS_ProductosFicha_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_ProductosFicha_Obtener" message="tns:IHersan_Ensamble_ENS_ProductosFicha_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_ProductosFicha_ObtenerResponse" message="tns:IHersan_Ensamble_ENS_ProductosFicha_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ENS_ProductosCotizacion_Combo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_ProductosCotizacion_Combo" message="tns:IHersan_Ensamble_ENS_ProductosCotizacion_Combo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_ProductosCotizacion_ComboResponse" message="tns:IHersan_Ensamble_ENS_ProductosCotizacion_Combo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ENS_CarcasasCotizacion_Combo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_CarcasasCotizacion_Combo" message="tns:IHersan_Ensamble_ENS_CarcasasCotizacion_Combo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_CarcasasCotizacion_ComboResponse" message="tns:IHersan_Ensamble_ENS_CarcasasCotizacion_Combo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ENS_ReflejanteCotizacion_Combo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_ReflejanteCotizacion_Combo" message="tns:IHersan_Ensamble_ENS_ReflejanteCotizacion_Combo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_ReflejanteCotizacion_ComboResponse" message="tns:IHersan_Ensamble_ENS_ReflejanteCotizacion_Combo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ENS_CodigoProducto_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_CodigoProducto_Obtener" message="tns:IHersan_Ensamble_ENS_CodigoProducto_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_CodigoProducto_ObtenerResponse" message="tns:IHersan_Ensamble_ENS_CodigoProducto_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ENS_Cotizacion_Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Cotizacion_Guardar" message="tns:IHersan_Ensamble_ENS_Cotizacion_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Cotizacion_GuardarResponse" message="tns:IHersan_Ensamble_ENS_Cotizacion_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ENS_Cotizacion_Buscar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Cotizacion_Buscar" message="tns:IHersan_Ensamble_ENS_Cotizacion_Buscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Cotizacion_BuscarResponse" message="tns:IHersan_Ensamble_ENS_Cotizacion_Buscar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ENS_Cotizacion_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Cotizacion_Obtener" message="tns:IHersan_Ensamble_ENS_Cotizacion_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Cotizacion_ObtenerResponse" message="tns:IHersan_Ensamble_ENS_Cotizacion_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ENS_Cotizacion_Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Cotizacion_Actualizar" message="tns:IHersan_Ensamble_ENS_Cotizacion_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Cotizacion_ActualizarResponse" message="tns:IHersan_Ensamble_ENS_Cotizacion_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ENS_Cotizacion_Reporte">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Cotizacion_Reporte" message="tns:IHersan_Ensamble_ENS_Cotizacion_Reporte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Cotizacion_ReporteResponse" message="tns:IHersan_Ensamble_ENS_Cotizacion_Reporte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ENS_Cotizacion_ReporteDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Cotizacion_ReporteDetalle" message="tns:IHersan_Ensamble_ENS_Cotizacion_ReporteDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Cotizacion_ReporteDetalleResponse" message="tns:IHersan_Ensamble_ENS_Cotizacion_ReporteDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ENS_Cotizacion_Consulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Cotizacion_Consulta" message="tns:IHersan_Ensamble_ENS_Cotizacion_Consulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Cotizacion_ConsultaResponse" message="tns:IHersan_Ensamble_ENS_Cotizacion_Consulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ENS_Pedido_Consulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Pedido_Consulta" message="tns:IHersan_Ensamble_ENS_Pedido_Consulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/ENS_Pedido_ConsultaResponse" message="tns:IHersan_Ensamble_ENS_Pedido_Consulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PRO_Inyeccion_Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_Inyeccion_Guardar" message="tns:IHersan_Ensamble_PRO_Inyeccion_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_Inyeccion_GuardarResponse" message="tns:IHersan_Ensamble_PRO_Inyeccion_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PRO_Inyeccion_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_Inyeccion_Obtener" message="tns:IHersan_Ensamble_PRO_Inyeccion_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_Inyeccion_ObtenerResponse" message="tns:IHersan_Ensamble_PRO_Inyeccion_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PRO_Inyeccion_Consulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_Inyeccion_Consulta" message="tns:IHersan_Ensamble_PRO_Inyeccion_Consulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_Inyeccion_ConsultaResponse" message="tns:IHersan_Ensamble_PRO_Inyeccion_Consulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PRO_Temperaturas_Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_Temperaturas_Guardar" message="tns:IHersan_Ensamble_PRO_Temperaturas_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_Temperaturas_GuardarResponse" message="tns:IHersan_Ensamble_PRO_Temperaturas_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PRO_Temperaturas_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_Temperaturas_Obtener" message="tns:IHersan_Ensamble_PRO_Temperaturas_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_Temperaturas_ObtenerResponse" message="tns:IHersan_Ensamble_PRO_Temperaturas_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PRO_TemperaturasMolde_Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_TemperaturasMolde_Guardar" message="tns:IHersan_Ensamble_PRO_TemperaturasMolde_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_TemperaturasMolde_GuardarResponse" message="tns:IHersan_Ensamble_PRO_TemperaturasMolde_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PRO_TemperaturasMolde_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_TemperaturasMolde_Obtener" message="tns:IHersan_Ensamble_PRO_TemperaturasMolde_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_TemperaturasMolde_ObtenerResponse" message="tns:IHersan_Ensamble_PRO_TemperaturasMolde_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PRO_Parametros_Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_Parametros_Guardar" message="tns:IHersan_Ensamble_PRO_Parametros_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_Parametros_GuardarResponse" message="tns:IHersan_Ensamble_PRO_Parametros_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PRO_Temperaturas_Consulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_Temperaturas_Consulta" message="tns:IHersan_Ensamble_PRO_Temperaturas_Consulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_Temperaturas_ConsultaResponse" message="tns:IHersan_Ensamble_PRO_Temperaturas_Consulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PRO_Parametros_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_Parametros_Obtener" message="tns:IHersan_Ensamble_PRO_Parametros_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_Parametros_ObtenerResponse" message="tns:IHersan_Ensamble_PRO_Parametros_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PRO_Parametros_Consulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_Parametros_Consulta" message="tns:IHersan_Ensamble_PRO_Parametros_Consulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_Parametros_ConsultaResponse" message="tns:IHersan_Ensamble_PRO_Parametros_Consulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionInyeccion_Guarda">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionInyeccion_Guarda" message="tns:IHersan_Ensamble_CAL_InspeccionInyeccion_Guarda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionInyeccion_GuardaResponse" message="tns:IHersan_Ensamble_CAL_InspeccionInyeccion_Guarda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionInyeccion_Actualiza">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionInyeccion_Actualiza" message="tns:IHersan_Ensamble_CAL_InspeccionInyeccion_Actualiza_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionInyeccion_ActualizaResponse" message="tns:IHersan_Ensamble_CAL_InspeccionInyeccion_Actualiza_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CAL_ReflejantesNorma_Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_ReflejantesNorma_Guardar" message="tns:IHersan_Ensamble_CAL_ReflejantesNorma_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_ReflejantesNorma_GuardarResponse" message="tns:IHersan_Ensamble_CAL_ReflejantesNorma_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CAL_ReflejantesNorma_Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_ReflejantesNorma_Actualizar" message="tns:IHersan_Ensamble_CAL_ReflejantesNorma_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_ReflejantesNorma_ActualizarResponse" message="tns:IHersan_Ensamble_CAL_ReflejantesNorma_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CAL_ReflejantesNorma_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_ReflejantesNorma_Obtener" message="tns:IHersan_Ensamble_CAL_ReflejantesNorma_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_ReflejantesNorma_ObtenerResponse" message="tns:IHersan_Ensamble_CAL_ReflejantesNorma_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionInyeccion_Analisis">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionInyeccion_Analisis" message="tns:IHersan_Ensamble_CAL_InspeccionInyeccion_Analisis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionInyeccion_AnalisisResponse" message="tns:IHersan_Ensamble_CAL_InspeccionInyeccion_Analisis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionInyeccion_AnalisisDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionInyeccion_AnalisisDetalle" message="tns:IHersan_Ensamble_CAL_InspeccionInyeccion_AnalisisDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionInyeccion_AnalisisDetalleResponse" message="tns:IHersan_Ensamble_CAL_InspeccionInyeccion_AnalisisDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PRO_Ensamble_Parametros_Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_Ensamble_Parametros_Guardar" message="tns:IHersan_Ensamble_PRO_Ensamble_Parametros_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_Ensamble_Parametros_GuardarResponse" message="tns:IHersan_Ensamble_PRO_Ensamble_Parametros_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PRO_Ensamble_Parametros_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_Ensamble_Parametros_Obtener" message="tns:IHersan_Ensamble_PRO_Ensamble_Parametros_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/PRO_Ensamble_Parametros_ObtenerResponse" message="tns:IHersan_Ensamble_PRO_Ensamble_Parametros_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionEnsamble_Consultar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_Consultar" message="tns:IHersan_Ensamble_CAL_InspeccionEnsamble_Consultar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_ConsultarResponse" message="tns:IHersan_Ensamble_CAL_InspeccionEnsamble_Consultar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionEnsamble_Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_Guardar" message="tns:IHersan_Ensamble_CAL_InspeccionEnsamble_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_GuardarResponse" message="tns:IHersan_Ensamble_CAL_InspeccionEnsamble_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionEnsamble_Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_Actualizar" message="tns:IHersan_Ensamble_CAL_InspeccionEnsamble_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_ActualizarResponse" message="tns:IHersan_Ensamble_CAL_InspeccionEnsamble_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionEnsamble_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_Obtener" message="tns:IHersan_Ensamble_CAL_InspeccionEnsamble_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_ObtenerResponse" message="tns:IHersan_Ensamble_CAL_InspeccionEnsamble_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionEnsamble_Analisis">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_Analisis" message="tns:IHersan_Ensamble_CAL_InspeccionEnsamble_Analisis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_AnalisisResponse" message="tns:IHersan_Ensamble_CAL_InspeccionEnsamble_Analisis_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionEnsamble_AnalisisDetalle">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_AnalisisDetalle" message="tns:IHersan_Ensamble_CAL_InspeccionEnsamble_AnalisisDetalle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_AnalisisDetalleResponse" message="tns:IHersan_Ensamble_CAL_InspeccionEnsamble_AnalisisDetalle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CAL_ResguardoQA_Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_ResguardoQA_Guardar" message="tns:IHersan_Ensamble_CAL_ResguardoQA_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_ResguardoQA_GuardarResponse" message="tns:IHersan_Ensamble_CAL_ResguardoQA_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CAL_ResguardoQA_Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_ResguardoQA_Actualizar" message="tns:IHersan_Ensamble_CAL_ResguardoQA_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_ResguardoQA_ActualizarResponse" message="tns:IHersan_Ensamble_CAL_ResguardoQA_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CAL_ResguardoQA_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_ResguardoQA_Obtener" message="tns:IHersan_Ensamble_CAL_ResguardoQA_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_ResguardoQA_ObtenerResponse" message="tns:IHersan_Ensamble_CAL_ResguardoQA_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CAL_AnalisisInyeccion_Histograma">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_AnalisisInyeccion_Histograma" message="tns:IHersan_Ensamble_CAL_AnalisisInyeccion_Histograma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_AnalisisInyeccion_HistogramaResponse" message="tns:IHersan_Ensamble_CAL_AnalisisInyeccion_Histograma_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CAL_AnalisisInyeccion_GraficaControl">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_AnalisisInyeccion_GraficaControl" message="tns:IHersan_Ensamble_CAL_AnalisisInyeccion_GraficaControl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_AnalisisInyeccion_GraficaControlResponse" message="tns:IHersan_Ensamble_CAL_AnalisisInyeccion_GraficaControl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CAL_AnalisisInyeccion_Histograma_Historico">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_AnalisisInyeccion_Histograma_Historico" message="tns:IHersan_Ensamble_CAL_AnalisisInyeccion_Histograma_Historico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_AnalisisInyeccion_Histograma_HistoricoResponse" message="tns:IHersan_Ensamble_CAL_AnalisisInyeccion_Histograma_Historico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CAL_AnalisisInyeccion_GraficaSeries">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_AnalisisInyeccion_GraficaSeries" message="tns:IHersan_Ensamble_CAL_AnalisisInyeccion_GraficaSeries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_AnalisisInyeccion_GraficaSeriesResponse" message="tns:IHersan_Ensamble_CAL_AnalisisInyeccion_GraficaSeries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionEnsamble_Histograma">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_Histograma" message="tns:IHersan_Ensamble_CAL_InspeccionEnsamble_Histograma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_HistogramaResponse" message="tns:IHersan_Ensamble_CAL_InspeccionEnsamble_Histograma_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionEnsamble_HistogramaHistorico">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_HistogramaHistorico" message="tns:IHersan_Ensamble_CAL_InspeccionEnsamble_HistogramaHistorico_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_HistogramaHistoricoResponse" message="tns:IHersan_Ensamble_CAL_InspeccionEnsamble_HistogramaHistorico_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CAL_ResguardoQA_Grafica">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_ResguardoQA_Grafica" message="tns:IHersan_Ensamble_CAL_ResguardoQA_Grafica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/CAL_ResguardoQA_GraficaResponse" message="tns:IHersan_Ensamble_CAL_ResguardoQA_Grafica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="APT_Almacenes_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/APT_Almacenes_Obtener" message="tns:IHersan_Ensamble_APT_Almacenes_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/APT_Almacenes_ObtenerResponse" message="tns:IHersan_Ensamble_APT_Almacenes_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="APT_Almacenes_Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/APT_Almacenes_Guardar" message="tns:IHersan_Ensamble_APT_Almacenes_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/APT_Almacenes_GuardarResponse" message="tns:IHersan_Ensamble_APT_Almacenes_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="APT_Almacenes_Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/APT_Almacenes_Actualizar" message="tns:IHersan_Ensamble_APT_Almacenes_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/APT_Almacenes_ActualizarResponse" message="tns:IHersan_Ensamble_APT_Almacenes_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="APT_Almacenes_Combo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/APT_Almacenes_Combo" message="tns:IHersan_Ensamble_APT_Almacenes_Combo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/APT_Almacenes_ComboResponse" message="tns:IHersan_Ensamble_APT_Almacenes_Combo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="APT_Ubicacion_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/APT_Ubicacion_Obtener" message="tns:IHersan_Ensamble_APT_Ubicacion_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/APT_Ubicacion_ObtenerResponse" message="tns:IHersan_Ensamble_APT_Ubicacion_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="APT_Ubicacion_Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/APT_Ubicacion_Guardar" message="tns:IHersan_Ensamble_APT_Ubicacion_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/APT_Ubicacion_GuardarResponse" message="tns:IHersan_Ensamble_APT_Ubicacion_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="APT_Ubicacion_Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ensamble/APT_Ubicacion_Actualizar" message="tns:IHersan_Ensamble_APT_Ubicacion_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ensamble/APT_Ubicacion_ActualizarResponse" message="tns:IHersan_Ensamble_APT_Ubicacion_Actualizar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IHersan_Ensamble" type="tns:IHersan_Ensamble">
    <wsp:PolicyReference URI="#WSHttpBinding_IHersan_Ensamble_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ABC_Clientes_Guardar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ABC_Clientes_Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ABC_Clientes_Actualizar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ABC_Clientes_Actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ABC_Clientes_Buscar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ABC_Clientes_Buscar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ABC_Clientes_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ABC_Clientes_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ABC_ClientesAgente_Combo">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ABC_ClientesAgente_Combo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ABC_ClientesAgente_Guardar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ABC_ClientesAgente_Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ABC_FormaPago_Combo">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ABC_FormaPago_Combo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ABC_MetodoPago_Combo">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ABC_MetodoPago_Combo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ABC_UsoCFDI_Combo">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ABC_UsoCFDI_Combo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ABC_RegimenFiscal_Combo">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ABC_RegimenFiscal_Combo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ENS_Servicios_Guardar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ENS_Servicios_Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ENS_Servicios_Actualizar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ENS_Servicios_Actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ENS_Servicios_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ENS_Servicios_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ENS_Servicios_Combo">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ENS_Servicios_Combo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ENS_ServiciosCotizacion_Combo">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ENS_ServiciosCotizacion_Combo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ENS_Precios_Guardar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ENS_Precios_Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ENS_Precios_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ENS_Precios_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ENS_ProductosFicha_Guardar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ENS_ProductosFicha_Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ENS_ProductosFicha_Actualizar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ENS_ProductosFicha_Actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ENS_ProductosFicha_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ENS_ProductosFicha_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ENS_ProductosCotizacion_Combo">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ENS_ProductosCotizacion_Combo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ENS_CarcasasCotizacion_Combo">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ENS_CarcasasCotizacion_Combo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ENS_ReflejanteCotizacion_Combo">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ENS_ReflejanteCotizacion_Combo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ENS_CodigoProducto_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ENS_CodigoProducto_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ENS_Cotizacion_Guardar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ENS_Cotizacion_Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ENS_Cotizacion_Buscar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ENS_Cotizacion_Buscar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ENS_Cotizacion_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ENS_Cotizacion_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ENS_Cotizacion_Actualizar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ENS_Cotizacion_Actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ENS_Cotizacion_Reporte">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ENS_Cotizacion_Reporte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ENS_Cotizacion_ReporteDetalle">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ENS_Cotizacion_ReporteDetalle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ENS_Cotizacion_Consulta">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ENS_Cotizacion_Consulta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ENS_Pedido_Consulta">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/ENS_Pedido_Consulta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRO_Inyeccion_Guardar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/PRO_Inyeccion_Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRO_Inyeccion_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/PRO_Inyeccion_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRO_Inyeccion_Consulta">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/PRO_Inyeccion_Consulta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRO_Temperaturas_Guardar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/PRO_Temperaturas_Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRO_Temperaturas_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/PRO_Temperaturas_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRO_TemperaturasMolde_Guardar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/PRO_TemperaturasMolde_Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRO_TemperaturasMolde_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/PRO_TemperaturasMolde_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRO_Parametros_Guardar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/PRO_Parametros_Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRO_Temperaturas_Consulta">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/PRO_Temperaturas_Consulta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRO_Parametros_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/PRO_Parametros_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRO_Parametros_Consulta">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/PRO_Parametros_Consulta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionInyeccion_Guarda">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionInyeccion_Guarda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionInyeccion_Actualiza">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionInyeccion_Actualiza" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CAL_ReflejantesNorma_Guardar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/CAL_ReflejantesNorma_Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CAL_ReflejantesNorma_Actualizar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/CAL_ReflejantesNorma_Actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CAL_ReflejantesNorma_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/CAL_ReflejantesNorma_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionInyeccion_Analisis">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionInyeccion_Analisis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionInyeccion_AnalisisDetalle">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionInyeccion_AnalisisDetalle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRO_Ensamble_Parametros_Guardar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/PRO_Ensamble_Parametros_Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PRO_Ensamble_Parametros_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/PRO_Ensamble_Parametros_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionEnsamble_Consultar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_Consultar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionEnsamble_Guardar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionEnsamble_Actualizar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_Actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionEnsamble_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionEnsamble_Analisis">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_Analisis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionEnsamble_AnalisisDetalle">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_AnalisisDetalle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CAL_ResguardoQA_Guardar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/CAL_ResguardoQA_Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CAL_ResguardoQA_Actualizar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/CAL_ResguardoQA_Actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CAL_ResguardoQA_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/CAL_ResguardoQA_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CAL_AnalisisInyeccion_Histograma">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/CAL_AnalisisInyeccion_Histograma" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CAL_AnalisisInyeccion_GraficaControl">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/CAL_AnalisisInyeccion_GraficaControl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CAL_AnalisisInyeccion_Histograma_Historico">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/CAL_AnalisisInyeccion_Histograma_Historico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CAL_AnalisisInyeccion_GraficaSeries">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/CAL_AnalisisInyeccion_GraficaSeries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionEnsamble_Histograma">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_Histograma" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CAL_InspeccionEnsamble_HistogramaHistorico">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/CAL_InspeccionEnsamble_HistogramaHistorico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CAL_ResguardoQA_Grafica">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/CAL_ResguardoQA_Grafica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APT_Almacenes_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/APT_Almacenes_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APT_Almacenes_Guardar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/APT_Almacenes_Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APT_Almacenes_Actualizar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/APT_Almacenes_Actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APT_Almacenes_Combo">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/APT_Almacenes_Combo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APT_Ubicacion_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/APT_Ubicacion_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APT_Ubicacion_Guardar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/APT_Ubicacion_Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="APT_Ubicacion_Actualizar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ensamble/APT_Ubicacion_Actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Hersan_Ensamble">
    <wsdl:port name="WSHttpBinding_IHersan_Ensamble" binding="tns:WSHttpBinding_IHersan_Ensamble">
      <soap12:address location="http://localhost:62534/Hersan_Ensamble.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:62534/Hersan_Ensamble.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>