Hersan.UI.Ventas/Connected Services/WCF_Ventas/Hersan_Ventas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62534/Hersan_Ventas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ventas" />
  <xs:import schemaLocation="http://localhost:62534/Hersan_Ventas.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" />
  <xs:element name="ABC_Clientes_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tablas" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Entidades" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_Clientes_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABC_Clientes_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_Clientes_Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ventas" minOccurs="0" name="Lista" nillable="true" type="q1:ClientesBE" />
        <xs:element minOccurs="0" name="Entidades" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_Clientes_BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ventas" minOccurs="0" name="ABC_Clientes_BuscarResult" nillable="true" type="q2:ArrayOfClientesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_Clientes_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_Clientes_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ventas" minOccurs="0" name="ABC_Clientes_ObtenerResult" nillable="true" type="q3:ArrayOfClientesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_FormaPago_Combo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_FormaPago_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABC_FormaPago_ComboResult" nillable="true" type="q4:ArrayOfFormasPagoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_MetodoPago_Combo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_MetodoPago_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABC_MetodoPago_ComboResult" nillable="true" type="q5:ArrayOfMetodosPagoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_UsoCFDI_Combo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_UsoCFDI_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABC_UsoCFDI_ComboResult" nillable="true" type="q6:ArrayOfUsoCFDIBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>