Hersan.UI.Ventas/Connected Services/WCF_Ventas/Hersan_Ventas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Hersan_Ventas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IHersan_Ventas_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62534/Hersan_Ventas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62534/Hersan_Ventas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62534/Hersan_Ventas.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:62534/Hersan_Ventas.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ventas" />
      <xsd:import schemaLocation="http://localhost:62534/Hersan_Ventas.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" />
      <xsd:import schemaLocation="http://localhost:62534/Hersan_Ventas.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHersan_Ventas_ABC_Clientes_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:ABC_Clientes_Guardar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ventas_ABC_Clientes_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ABC_Clientes_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ventas_ABC_Clientes_Buscar_InputMessage">
    <wsdl:part name="parameters" element="tns:ABC_Clientes_Buscar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ventas_ABC_Clientes_Buscar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ABC_Clientes_BuscarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ventas_ABC_Clientes_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:ABC_Clientes_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ventas_ABC_Clientes_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ABC_Clientes_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ventas_ABC_FormaPago_Combo_InputMessage">
    <wsdl:part name="parameters" element="tns:ABC_FormaPago_Combo" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ventas_ABC_FormaPago_Combo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ABC_FormaPago_ComboResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ventas_ABC_MetodoPago_Combo_InputMessage">
    <wsdl:part name="parameters" element="tns:ABC_MetodoPago_Combo" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ventas_ABC_MetodoPago_Combo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ABC_MetodoPago_ComboResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ventas_ABC_UsoCFDI_Combo_InputMessage">
    <wsdl:part name="parameters" element="tns:ABC_UsoCFDI_Combo" />
  </wsdl:message>
  <wsdl:message name="IHersan_Ventas_ABC_UsoCFDI_Combo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ABC_UsoCFDI_ComboResponse" />
  </wsdl:message>
  <wsdl:portType name="IHersan_Ventas">
    <wsdl:operation name="ABC_Clientes_Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ventas/ABC_Clientes_Guardar" message="tns:IHersan_Ventas_ABC_Clientes_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ventas/ABC_Clientes_GuardarResponse" message="tns:IHersan_Ventas_ABC_Clientes_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ABC_Clientes_Buscar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ventas/ABC_Clientes_Buscar" message="tns:IHersan_Ventas_ABC_Clientes_Buscar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ventas/ABC_Clientes_BuscarResponse" message="tns:IHersan_Ventas_ABC_Clientes_Buscar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ABC_Clientes_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ventas/ABC_Clientes_Obtener" message="tns:IHersan_Ventas_ABC_Clientes_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ventas/ABC_Clientes_ObtenerResponse" message="tns:IHersan_Ventas_ABC_Clientes_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ABC_FormaPago_Combo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ventas/ABC_FormaPago_Combo" message="tns:IHersan_Ventas_ABC_FormaPago_Combo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ventas/ABC_FormaPago_ComboResponse" message="tns:IHersan_Ventas_ABC_FormaPago_Combo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ABC_MetodoPago_Combo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ventas/ABC_MetodoPago_Combo" message="tns:IHersan_Ventas_ABC_MetodoPago_Combo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ventas/ABC_MetodoPago_ComboResponse" message="tns:IHersan_Ventas_ABC_MetodoPago_Combo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ABC_UsoCFDI_Combo">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Ventas/ABC_UsoCFDI_Combo" message="tns:IHersan_Ventas_ABC_UsoCFDI_Combo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Ventas/ABC_UsoCFDI_ComboResponse" message="tns:IHersan_Ventas_ABC_UsoCFDI_Combo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IHersan_Ventas" type="tns:IHersan_Ventas">
    <wsp:PolicyReference URI="#WSHttpBinding_IHersan_Ventas_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ABC_Clientes_Guardar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ventas/ABC_Clientes_Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ABC_Clientes_Buscar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ventas/ABC_Clientes_Buscar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ABC_Clientes_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ventas/ABC_Clientes_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ABC_FormaPago_Combo">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ventas/ABC_FormaPago_Combo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ABC_MetodoPago_Combo">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ventas/ABC_MetodoPago_Combo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ABC_UsoCFDI_Combo">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Ventas/ABC_UsoCFDI_Combo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Hersan_Ventas">
    <wsdl:port name="WSHttpBinding_IHersan_Ventas" binding="tns:WSHttpBinding_IHersan_Ventas">
      <soap12:address location="http://localhost:62534/Hersan_Ventas.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:62534/Hersan_Ventas.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>