Hersan.UI.Nomina/Connected Services/WCF_Nomina/Hersan_Nomina4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60744/Hersan_Nomina.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" />
  <xs:import schemaLocation="http://localhost:60744/Hersan_Nomina.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" />
  <xs:complexType name="EmpleadosBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ahorro" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuarios" nillable="true" type="q1:GeneralBE" />
      <xs:element minOccurs="0" name="EstatusEmpleado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expedientes" nillable="true" type="tns:ExpedientesBE" />
      <xs:element minOccurs="0" name="FechaAltaIMSS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fonacot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Infonavit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroCuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pension" type="xs:decimal" />
      <xs:element minOccurs="0" name="SueldoDiario" type="xs:decimal" />
      <xs:element minOccurs="0" name="SueldoDiarioIntegrado" type="xs:decimal" />
      <xs:element minOccurs="0" name="TipoInfonavit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpleadosBE" nillable="true" type="tns:EmpleadosBE" />
  <xs:complexType name="ExpedientesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Candidato" type="xs:boolean" />
      <xs:element minOccurs="0" name="Comentarios" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Conocimiento" nillable="true" type="tns:ArrayOfExpedienteConocimiento" />
      <xs:element minOccurs="0" name="DatosPersonales" nillable="true" type="tns:ExpedientesDatosPersonales" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q2:GeneralBE" />
      <xs:element minOccurs="0" name="Documentos" nillable="true" type="tns:ExpedienteDocumentos" />
      <xs:element minOccurs="0" name="Economicos" nillable="true" type="tns:ArrayOfExpedienteEconomicos" />
      <xs:element minOccurs="0" name="Empleos" nillable="true" type="tns:ArrayOfExpedienteEmpleos" />
      <xs:element minOccurs="0" name="Estudios" nillable="true" type="tns:ArrayOfExpedienteEstudios" />
      <xs:element minOccurs="0" name="Familia" nillable="true" type="tns:ArrayOfExpedienteFamilia" />
      <xs:element minOccurs="0" name="FechaContratado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Generales" nillable="true" type="tns:ArrayOfExpedienteGenerales" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Puesto" nillable="true" type="q3:PuestosBE" />
      <xs:element minOccurs="0" name="Referencias" nillable="true" type="tns:ArrayOfExpedienteReferencias" />
      <xs:element minOccurs="0" name="RutaImagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salud" nillable="true" type="tns:ArrayOfExpedienteSalud" />
      <xs:element minOccurs="0" name="SueldoAprobado" type="xs:decimal" />
      <xs:element minOccurs="0" name="SueldoDeseado" type="xs:decimal" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpedientesBE" nillable="true" type="tns:ExpedientesBE" />
  <xs:complexType name="ArrayOfExpedienteConocimiento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpedienteConocimiento" nillable="true" type="tns:ExpedienteConocimiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpedienteConocimiento" nillable="true" type="tns:ArrayOfExpedienteConocimiento" />
  <xs:complexType name="ExpedienteConocimiento">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q4:GeneralBE" />
      <xs:element minOccurs="0" name="Funciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdExpediente" type="xs:int" />
      <xs:element minOccurs="0" name="Idioma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Maquinas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Otros" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Porcentaje" type="xs:int" />
      <xs:element minOccurs="0" name="Software" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpedienteConocimiento" nillable="true" type="tns:ExpedienteConocimiento" />
  <xs:complexType name="ExpedientesDatosPersonales">
    <xs:sequence>
      <xs:element minOccurs="0" name="AMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APaterno" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Ciudad" nillable="true" type="q5:CiudadesBE" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="CiudadNac" nillable="true" type="q6:CiudadesBE" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Colonia" nillable="true" type="q7:ColoniasBE" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q8:GeneralBE" />
      <xs:element minOccurs="0" name="Dependientes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edad" type="xs:int" />
      <xs:element minOccurs="0" name="EdoCivil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EdoCivilOtro" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Estado" nillable="true" type="q9:EstadosBE" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="EstadoNac" nillable="true" type="q10:EstadosBE" />
      <xs:element minOccurs="0" name="Estatura" type="xs:decimal" />
      <xs:element minOccurs="0" name="FechaNac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdExpediente" type="xs:int" />
      <xs:element minOccurs="0" name="Nacionalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtrosDependientes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peso" type="xs:int" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViveCon" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpedientesDatosPersonales" nillable="true" type="tns:ExpedientesDatosPersonales" />
  <xs:complexType name="ExpedienteDocumentos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Afore" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURP" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUuario" nillable="true" type="q11:GeneralBE" />
      <xs:element minOccurs="0" name="DoctoExtranjero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMSS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdExpediente" type="xs:int" />
      <xs:element minOccurs="0" name="Licencia" type="xs:boolean" />
      <xs:element minOccurs="0" name="NoLicencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pasaporte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Servicio" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpedienteDocumentos" nillable="true" type="tns:ExpedienteDocumentos" />
  <xs:complexType name="ArrayOfExpedienteEconomicos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpedienteEconomicos" nillable="true" type="tns:ExpedienteEconomicos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpedienteEconomicos" nillable="true" type="tns:ArrayOfExpedienteEconomicos" />
  <xs:complexType name="ExpedienteEconomicos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abono" type="xs:decimal" />
      <xs:element minOccurs="0" name="Auto" type="xs:boolean" />
      <xs:element minOccurs="0" name="Casa" type="xs:boolean" />
      <xs:element minOccurs="0" name="Conyuge" type="xs:boolean" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q12:GeneralBE" />
      <xs:element minOccurs="0" name="Deudas" type="xs:boolean" />
      <xs:element minOccurs="0" name="Donde" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gastos" type="xs:decimal" />
      <xs:element minOccurs="0" name="IdExpediente" type="xs:int" />
      <xs:element minOccurs="0" name="Importe" type="xs:decimal" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtrosIngresos" type="xs:boolean" />
      <xs:element minOccurs="0" name="Pago" type="xs:decimal" />
      <xs:element minOccurs="0" name="Quien" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Renta" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sueldo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpedienteEconomicos" nillable="true" type="tns:ExpedienteEconomicos" />
  <xs:complexType name="ArrayOfExpedienteEmpleos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpedienteEmpleos" nillable="true" type="tns:ExpedienteEmpleos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpedienteEmpleos" nillable="true" type="tns:ArrayOfExpedienteEmpleos" />
  <xs:complexType name="ExpedienteEmpleos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comentarios" nillable="true" type="xs:string" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q13:GeneralBE" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdExpediente" type="xs:int" />
      <xs:element minOccurs="0" name="Informes" type="xs:boolean" />
      <xs:element minOccurs="0" name="Jefe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Puesto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PuestoJefe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Razon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Separacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SueldoFin" type="xs:decimal" />
      <xs:element minOccurs="0" name="SueldoIni" type="xs:decimal" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tiempo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpedienteEmpleos" nillable="true" type="tns:ExpedienteEmpleos" />
  <xs:complexType name="ArrayOfExpedienteEstudios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpedienteEstudios" nillable="true" type="tns:ExpedienteEstudios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpedienteEstudios" nillable="true" type="tns:ArrayOfExpedienteEstudios" />
  <xs:complexType name="ExpedienteEstudios">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Anios" type="xs:int" />
      <xs:element minOccurs="0" name="Curso" nillable="true" type="xs:string" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q14:GeneralBE" />
      <xs:element minOccurs="0" name="Desde" type="xs:int" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Escuela" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Grado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hasta" type="xs:int" />
      <xs:element minOccurs="0" name="Horario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdExpediente" type="xs:int" />
      <xs:element minOccurs="0" name="Nivel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpedienteEstudios" nillable="true" type="tns:ExpedienteEstudios" />
  <xs:complexType name="ArrayOfExpedienteFamilia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpedienteFamilia" nillable="true" type="tns:ExpedienteFamilia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpedienteFamilia" nillable="true" type="tns:ArrayOfExpedienteFamilia" />
  <xs:complexType name="ExpedienteFamilia">
    <xs:sequence>
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q15:GeneralBE" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edad" type="xs:int" />
      <xs:element minOccurs="0" name="IdExpediente" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ocupacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parentesco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Vivo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpedienteFamilia" nillable="true" type="tns:ExpedienteFamilia" />
  <xs:complexType name="ArrayOfExpedienteGenerales">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpedienteGenerales" nillable="true" type="tns:ExpedienteGenerales" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpedienteGenerales" nillable="true" type="tns:ArrayOfExpedienteGenerales" />
  <xs:complexType name="ExpedienteGenerales">
    <xs:sequence>
      <xs:element minOccurs="0" name="Afinazadora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Anuncio" type="xs:boolean" />
      <xs:element minOccurs="0" name="Aseguradora" nillable="true" type="xs:string" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q16:GeneralBE" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fianza" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdExpediente" type="xs:int" />
      <xs:element minOccurs="0" name="Motivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Otro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parientes" type="xs:boolean" />
      <xs:element minOccurs="0" name="Razon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Residencia" type="xs:boolean" />
      <xs:element minOccurs="0" name="SeguroVida" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sindicalizado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Sindicato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Viajar" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpedienteGenerales" nillable="true" type="tns:ExpedienteGenerales" />
  <xs:complexType name="ArrayOfExpedienteReferencias">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpedienteReferencias" nillable="true" type="tns:ExpedienteReferencias" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpedienteReferencias" nillable="true" type="tns:ArrayOfExpedienteReferencias" />
  <xs:complexType name="ExpedienteReferencias">
    <xs:sequence>
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q17:GeneralBE" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdExpediente" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ocupacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tiempo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpedienteReferencias" nillable="true" type="tns:ExpedienteReferencias" />
  <xs:complexType name="ArrayOfExpedienteSalud">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpedienteSalud" nillable="true" type="tns:ExpedienteSalud" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpedienteSalud" nillable="true" type="tns:ArrayOfExpedienteSalud" />
  <xs:complexType name="ExpedienteSalud">
    <xs:sequence>
      <xs:element minOccurs="0" name="Club" nillable="true" type="xs:string" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q18:GeneralBE" />
      <xs:element minOccurs="0" name="Deporte" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enfermedad" type="xs:boolean" />
      <xs:element minOccurs="0" name="EstadoActual" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdExpediente" type="xs:int" />
      <xs:element minOccurs="0" name="Meta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pasatiempo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpedienteSalud" nillable="true" type="tns:ExpedienteSalud" />
</xs:schema>