Hersan.UI.Nomina/Connected Services/WCF_Nomina/Hersan_Nomina3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GeneralBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaModif" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdUsuarioCreo" type="xs:int" />
      <xs:element minOccurs="0" name="IdUsuarioModif" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneralBE" nillable="true" type="tns:GeneralBE" />
</xs:schema>