Hersan.UI.Nomina/Connected Services/WCF_Nomina/Hersan_Nomina.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Hersan_Nomina" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IHersan_Nomina_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60744/Hersan_Nomina.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60744/Hersan_Nomina.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60744/Hersan_Nomina.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Nomina" />
      <xsd:import schemaLocation="http://localhost:60744/Hersan_Nomina.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" />
      <xsd:import schemaLocation="http://localhost:60744/Hersan_Nomina.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" />
      <xsd:import schemaLocation="http://localhost:60744/Hersan_Nomina.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" />
      <xsd:import schemaLocation="http://localhost:60744/Hersan_Nomina.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHersan_Nomina_Nom_Factores_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Nom_Factores_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_Nom_Factores_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:Nom_Factores_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_Subsidios_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:NOM_Subsidios_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_Subsidios_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:NOM_Subsidios_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_Nomina_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:NOM_Nomina_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_Nomina_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:NOM_Nomina_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_ISR_Semanal_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:NOM_ISR_Semanal_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_ISR_Semanal_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:NOM_ISR_Semanal_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_Semanas_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:NOM_Semanas_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_Semanas_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:NOM_Semanas_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_Semanas_generar_InputMessage">
    <wsdl:part name="parameters" element="tns:NOM_Semanas_generar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_Semanas_generar_OutputMessage">
    <wsdl:part name="parameters" element="tns:NOM_Semanas_generarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_Cuotas_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:NOM_Cuotas_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_Cuotas_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:NOM_Cuotas_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_Nom_Parametros_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Nom_Parametros_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_Nom_Parametros_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:Nom_Parametros_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_Nom_Parametros_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:Nom_Parametros_Guardar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_Nom_Parametros_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:Nom_Parametros_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_CalculoNomina_InputMessage">
    <wsdl:part name="parameters" element="tns:NOM_CalculoNomina" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_CalculoNomina_OutputMessage">
    <wsdl:part name="parameters" element="tns:NOM_CalculoNominaResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_CalculoNomina_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:NOM_CalculoNomina_Guardar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_CalculoNomina_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:NOM_CalculoNomina_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_Prestamos_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:NOM_Prestamos_Guardar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_Prestamos_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:NOM_Prestamos_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_Prestamos_Consulta_InputMessage">
    <wsdl:part name="parameters" element="tns:NOM_Prestamos_Consulta" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_Prestamos_Consulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:NOM_Prestamos_ConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_Incidencias_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:NOM_Incidencias_Guardar" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_Incidencias_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:NOM_Incidencias_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_Incidencias_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:NOM_Incidencias_Obtener" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_Incidencias_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:NOM_Incidencias_ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_ImportarFonacot_InputMessage">
    <wsdl:part name="parameters" element="tns:NOM_ImportarFonacot" />
  </wsdl:message>
  <wsdl:message name="IHersan_Nomina_NOM_ImportarFonacot_OutputMessage">
    <wsdl:part name="parameters" element="tns:NOM_ImportarFonacotResponse" />
  </wsdl:message>
  <wsdl:portType name="IHersan_Nomina">
    <wsdl:operation name="Nom_Factores_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Nomina/Nom_Factores_Obtener" message="tns:IHersan_Nomina_Nom_Factores_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Nomina/Nom_Factores_ObtenerResponse" message="tns:IHersan_Nomina_Nom_Factores_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NOM_Subsidios_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_Subsidios_Obtener" message="tns:IHersan_Nomina_NOM_Subsidios_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_Subsidios_ObtenerResponse" message="tns:IHersan_Nomina_NOM_Subsidios_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NOM_Nomina_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_Nomina_Obtener" message="tns:IHersan_Nomina_NOM_Nomina_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_Nomina_ObtenerResponse" message="tns:IHersan_Nomina_NOM_Nomina_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NOM_ISR_Semanal_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_ISR_Semanal_Obtener" message="tns:IHersan_Nomina_NOM_ISR_Semanal_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_ISR_Semanal_ObtenerResponse" message="tns:IHersan_Nomina_NOM_ISR_Semanal_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NOM_Semanas_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_Semanas_Obtener" message="tns:IHersan_Nomina_NOM_Semanas_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_Semanas_ObtenerResponse" message="tns:IHersan_Nomina_NOM_Semanas_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NOM_Semanas_generar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_Semanas_generar" message="tns:IHersan_Nomina_NOM_Semanas_generar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_Semanas_generarResponse" message="tns:IHersan_Nomina_NOM_Semanas_generar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NOM_Cuotas_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_Cuotas_Obtener" message="tns:IHersan_Nomina_NOM_Cuotas_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_Cuotas_ObtenerResponse" message="tns:IHersan_Nomina_NOM_Cuotas_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Nom_Parametros_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Nomina/Nom_Parametros_Obtener" message="tns:IHersan_Nomina_Nom_Parametros_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Nomina/Nom_Parametros_ObtenerResponse" message="tns:IHersan_Nomina_Nom_Parametros_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Nom_Parametros_Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Nomina/Nom_Parametros_Guardar" message="tns:IHersan_Nomina_Nom_Parametros_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Nomina/Nom_Parametros_GuardarResponse" message="tns:IHersan_Nomina_Nom_Parametros_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NOM_CalculoNomina">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_CalculoNomina" message="tns:IHersan_Nomina_NOM_CalculoNomina_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_CalculoNominaResponse" message="tns:IHersan_Nomina_NOM_CalculoNomina_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NOM_CalculoNomina_Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_CalculoNomina_Guardar" message="tns:IHersan_Nomina_NOM_CalculoNomina_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_CalculoNomina_GuardarResponse" message="tns:IHersan_Nomina_NOM_CalculoNomina_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NOM_Prestamos_Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_Prestamos_Guardar" message="tns:IHersan_Nomina_NOM_Prestamos_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_Prestamos_GuardarResponse" message="tns:IHersan_Nomina_NOM_Prestamos_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NOM_Prestamos_Consulta">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_Prestamos_Consulta" message="tns:IHersan_Nomina_NOM_Prestamos_Consulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_Prestamos_ConsultaResponse" message="tns:IHersan_Nomina_NOM_Prestamos_Consulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NOM_Incidencias_Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_Incidencias_Guardar" message="tns:IHersan_Nomina_NOM_Incidencias_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_Incidencias_GuardarResponse" message="tns:IHersan_Nomina_NOM_Incidencias_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NOM_Incidencias_Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_Incidencias_Obtener" message="tns:IHersan_Nomina_NOM_Incidencias_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_Incidencias_ObtenerResponse" message="tns:IHersan_Nomina_NOM_Incidencias_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NOM_ImportarFonacot">
      <wsdl:input wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_ImportarFonacot" message="tns:IHersan_Nomina_NOM_ImportarFonacot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHersan_Nomina/NOM_ImportarFonacotResponse" message="tns:IHersan_Nomina_NOM_ImportarFonacot_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IHersan_Nomina" type="tns:IHersan_Nomina">
    <wsp:PolicyReference URI="#WSHttpBinding_IHersan_Nomina_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Nom_Factores_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Nomina/Nom_Factores_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NOM_Subsidios_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Nomina/NOM_Subsidios_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NOM_Nomina_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Nomina/NOM_Nomina_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NOM_ISR_Semanal_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Nomina/NOM_ISR_Semanal_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NOM_Semanas_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Nomina/NOM_Semanas_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NOM_Semanas_generar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Nomina/NOM_Semanas_generar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NOM_Cuotas_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Nomina/NOM_Cuotas_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Nom_Parametros_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Nomina/Nom_Parametros_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Nom_Parametros_Guardar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Nomina/Nom_Parametros_Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NOM_CalculoNomina">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Nomina/NOM_CalculoNomina" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NOM_CalculoNomina_Guardar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Nomina/NOM_CalculoNomina_Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NOM_Prestamos_Guardar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Nomina/NOM_Prestamos_Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NOM_Prestamos_Consulta">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Nomina/NOM_Prestamos_Consulta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NOM_Incidencias_Guardar">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Nomina/NOM_Incidencias_Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NOM_Incidencias_Obtener">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Nomina/NOM_Incidencias_Obtener" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NOM_ImportarFonacot">
      <soap12:operation soapAction="http://tempuri.org/IHersan_Nomina/NOM_ImportarFonacot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Hersan_Nomina">
    <wsdl:port name="WSHttpBinding_IHersan_Nomina" binding="tns:WSHttpBinding_IHersan_Nomina">
      <soap12:address location="http://localhost:60744/Hersan_Nomina.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:60744/Hersan_Nomina.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>