Hersan.UI.Nomina/Connected Services/WCF_Nomina/Hersan_Nomina2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Nomina" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Nomina" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60744/Hersan_Nomina.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" />
  <xs:import schemaLocation="http://localhost:60744/Hersan_Nomina.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" />
  <xs:complexType name="ArrayOfFactoresBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FactoresBE" nillable="true" type="tns:FactoresBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFactoresBE" nillable="true" type="tns:ArrayOfFactoresBE" />
  <xs:complexType name="FactoresBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aguinaldo" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q1:GeneralBE" />
      <xs:element minOccurs="0" name="De" type="xs:decimal" />
      <xs:element minOccurs="0" name="Factor" type="xs:decimal" />
      <xs:element minOccurs="0" name="Hasta" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Prima" type="xs:decimal" />
      <xs:element minOccurs="0" name="Vacaciones" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FactoresBE" nillable="true" type="tns:FactoresBE" />
  <xs:complexType name="ArrayOfSubsidiosBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubsidiosBE" nillable="true" type="tns:SubsidiosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubsidiosBE" nillable="true" type="tns:ArrayOfSubsidiosBE" />
  <xs:complexType name="SubsidiosBE">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q2:GeneralBE" />
      <xs:element minOccurs="0" name="De" type="xs:decimal" />
      <xs:element minOccurs="0" name="Hasta" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Subsidio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubsidiosBE" nillable="true" type="tns:SubsidiosBE" />
  <xs:complexType name="ArrayOfISRBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ISRBE" nillable="true" type="tns:ISRBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfISRBE" nillable="true" type="tns:ArrayOfISRBE" />
  <xs:complexType name="ISRBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cuota" type="xs:decimal" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q3:GeneralBE" />
      <xs:element minOccurs="0" name="De" type="xs:decimal" />
      <xs:element minOccurs="0" name="Hasta" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Porcentaje" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ISRBE" nillable="true" type="tns:ISRBE" />
  <xs:complexType name="ArrayOfSemanasBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SemanasBE" nillable="true" type="tns:SemanasBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSemanasBE" nillable="true" type="tns:ArrayOfSemanasBE" />
  <xs:complexType name="SemanasBE">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q4:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Inicia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Semana" type="xs:int" />
      <xs:element minOccurs="0" name="Termina" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SemanasBE" nillable="true" type="tns:SemanasBE" />
  <xs:complexType name="ArrayOfCuotasBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CuotasBE" nillable="true" type="tns:CuotasBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCuotasBE" nillable="true" type="tns:ArrayOfCuotasBE" />
  <xs:complexType name="CuotasBE">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q5:GeneralBE" />
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="tns:CuotasDetalleBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CuotasBE" nillable="true" type="tns:CuotasBE" />
  <xs:complexType name="CuotasDetalleBE">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q6:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Patron" type="xs:decimal" />
      <xs:element minOccurs="0" name="Prestacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="Trabajador" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CuotasDetalleBE" nillable="true" type="tns:CuotasDetalleBE" />
  <xs:complexType name="ParametrosBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ahorro" type="xs:decimal" />
      <xs:element minOccurs="0" name="Asistencia" type="xs:decimal" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q7:GeneralBE" />
      <xs:element minOccurs="0" name="Dias" type="xs:int" />
      <xs:element minOccurs="0" name="Faltas" type="xs:int" />
      <xs:element minOccurs="0" name="Horas" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Interes" type="xs:decimal" />
      <xs:element minOccurs="0" name="Puntualidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="Retardos" type="xs:int" />
      <xs:element minOccurs="0" name="UMA" type="xs:decimal" />
      <xs:element minOccurs="0" name="Vales" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParametrosBE" nillable="true" type="tns:ParametrosBE" />
  <xs:complexType name="ArrayOfNominaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NominaBE" nillable="true" type="tns:NominaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNominaBE" nillable="true" type="tns:ArrayOfNominaBE" />
  <xs:complexType name="NominaBE">
    <xs:sequence>
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q8:GeneralBE" />
      <xs:element minOccurs="0" name="Deducciones" nillable="true" type="tns:DeduccionesBE" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="Empleado" nillable="true" type="q9:EmpleadosBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Percepciones" nillable="true" type="tns:PercepcionesBE" />
      <xs:element minOccurs="0" name="Sel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Semana" nillable="true" type="tns:SemanasBE" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NominaBE" nillable="true" type="tns:NominaBE" />
  <xs:complexType name="DeduccionesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aportacion" type="xs:decimal" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q10:GeneralBE" />
      <xs:element minOccurs="0" name="FAhorro" type="xs:decimal" />
      <xs:element minOccurs="0" name="Faltas" type="xs:decimal" />
      <xs:element minOccurs="0" name="Fonacot" type="xs:decimal" />
      <xs:element minOccurs="0" name="ISR" type="xs:decimal" />
      <xs:element minOccurs="0" name="Imss" type="xs:decimal" />
      <xs:element minOccurs="0" name="Infonavit" type="xs:decimal" />
      <xs:element minOccurs="0" name="Pension" type="xs:decimal" />
      <xs:element minOccurs="0" name="Prestamo" nillable="true" type="tns:PrestamosBE" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeduccionesBE" nillable="true" type="tns:DeduccionesBE" />
  <xs:complexType name="PrestamosBE">
    <xs:sequence>
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q11:GeneralBE" />
      <xs:element minOccurs="0" name="Detalle" nillable="true" type="tns:PrestamosDetalleBE" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="Empleado" nillable="true" type="q12:EmpleadosBE" />
      <xs:element minOccurs="0" name="Estatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaAplica" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImportePago" type="xs:decimal" />
      <xs:element minOccurs="0" name="ImporteTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="NoPagos" type="xs:int" />
      <xs:element minOccurs="0" name="SemanaAplica" type="xs:int" />
      <xs:element minOccurs="0" name="Tasa" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrestamosBE" nillable="true" type="tns:PrestamosBE" />
  <xs:complexType name="PrestamosDetalleBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abono" type="xs:decimal" />
      <xs:element minOccurs="0" name="Capital" type="xs:decimal" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q13:GeneralBE" />
      <xs:element minOccurs="0" name="Estatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImportePago" type="xs:decimal" />
      <xs:element minOccurs="0" name="Interes" type="xs:decimal" />
      <xs:element minOccurs="0" name="NoPago" type="xs:int" />
      <xs:element minOccurs="0" name="Saldo" type="xs:decimal" />
      <xs:element minOccurs="0" name="Sel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Semana" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PrestamosDetalleBE" nillable="true" type="tns:PrestamosDetalleBE" />
  <xs:complexType name="PercepcionesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Asistencia" type="xs:decimal" />
      <xs:element minOccurs="0" name="Bono" type="xs:decimal" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q14:GeneralBE" />
      <xs:element minOccurs="0" name="HBono" type="xs:decimal" />
      <xs:element minOccurs="0" name="HExtra" type="xs:decimal" />
      <xs:element minOccurs="0" name="Puntualidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="Vales" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PercepcionesBE" nillable="true" type="tns:PercepcionesBE" />
  <xs:complexType name="ArrayOfIncidenciasBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IncidenciasBE" nillable="true" type="tns:IncidenciasBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIncidenciasBE" nillable="true" type="tns:ArrayOfIncidenciasBE" />
  <xs:complexType name="IncidenciasBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bono" type="xs:decimal" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q15:GeneralBE" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="Empleado" nillable="true" type="q16:EmpleadosBE" />
      <xs:element minOccurs="0" name="Extra" type="xs:int" />
      <xs:element minOccurs="0" name="Faltas" type="xs:int" />
      <xs:element minOccurs="0" name="Fonacot" type="xs:boolean" />
      <xs:element minOccurs="0" name="Retardos" type="xs:int" />
      <xs:element minOccurs="0" name="Sel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Semana" nillable="true" type="tns:SemanasBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IncidenciasBE" nillable="true" type="tns:IncidenciasBE" />
</xs:schema>