Hersan.UI.Seguridad_Backup_2019.01.30_01.30.11/Service References/WCF_Seguridad/Hersan_Seguridad2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5462/Hersan_Seguridad.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Seguridad" />
  <xs:import schemaLocation="http://localhost:5462/Hersan_Seguridad.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" />
  <xs:element name="ObtenerMenuUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMenuUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Seguridad" minOccurs="0" name="ObtenerMenuUsuarioResult" nillable="true" type="q1:ArrayOfMenusBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMenuRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Rol" type="xs:int" />
        <xs:element minOccurs="0" name="Padre" type="xs:int" />
        <xs:element minOccurs="0" name="Menu" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMenuRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Seguridad" minOccurs="0" name="ObtenerMenuRolResult" nillable="true" type="q2:ArrayOfMenusBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaMenuRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oTabla" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaMenuRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GuardaMenuRolResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMenus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMenusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Seguridad" minOccurs="0" name="ObtenerMenusResult" nillable="true" type="q3:ArrayOfMenusBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MenusPadre_Combo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MenusPadre_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Seguridad" minOccurs="0" name="MenusPadre_ComboResult" nillable="true" type="q4:ArrayOfMenusBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Seguridad" minOccurs="0" name="obj" nillable="true" type="q5:MenusBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Menu_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Menu_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nomUsr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Pswd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Seguridad" minOccurs="0" name="ValidaUsuarioResult" nillable="true" type="q6:ValidaIngresoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtienBloqueoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nomUsr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtienBloqueoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Seguridad" minOccurs="0" name="ObtienBloqueoUsuarioResult" nillable="true" type="q7:ValidaIngresoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesbloqueaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nomUsr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesbloqueaUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Seguridad" minOccurs="0" name="ObtieneUsuariosResult" nillable="true" type="q8:ArrayOfUsuariosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Seguridad" minOccurs="0" name="Usuario" nillable="true" type="q9:UsuariosBE" />
        <xs:element minOccurs="0" name="IdUsuarioCrea" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="GuardaUsuarioResult" nillable="true" type="q10:ResultadoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Seguridad" minOccurs="0" name="Usuario" nillable="true" type="q11:UsuariosBE" />
        <xs:element minOccurs="0" name="IdUsuarioMod" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="ActualizaUsuarioResult" nillable="true" type="q12:ResultadoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneDatosUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneDatosUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Seguridad" minOccurs="0" name="ObtieneDatosUsuarioResult" nillable="true" type="q13:UsuariosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiaContrasenia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Seguridad" minOccurs="0" name="Usuario" nillable="true" type="q14:UsuariosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiaContraseniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CambiaContraseniaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Seguridad" minOccurs="0" name="ObtieneRolesResult" nillable="true" type="q15:ArrayOfRolesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Rol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="Estatus" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="GuardaRolesResult" nillable="true" type="q16:ResultadoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdRol" type="xs:int" />
        <xs:element minOccurs="0" name="Rol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="Estatus" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizaRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="ActualizaRolesResult" nillable="true" type="q17:ResultadoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneRolesUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtieneRolesUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Seguridad" minOccurs="0" name="ObtieneRolesUsuarioResult" nillable="true" type="q18:ArrayOfRolesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaRolesUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdRol" type="xs:int" />
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardaRolesUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>