Hersan.UI.Seguridad/Service References/WCF_Catalogos/Hersan_Catalogos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56779/Hersan_Catalogos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" />
  <xs:complexType name="ArrayOfEmpresasBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpresasBE" nillable="true" type="tns:EmpresasBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpresasBE" nillable="true" type="tns:ArrayOfEmpresasBE" />
  <xs:complexType name="EmpresasBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="tns:CiudadesBE" />
      <xs:element minOccurs="0" name="Colonia" nillable="true" type="tns:ColoniasBE" />
      <xs:element minOccurs="0" name="Contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q1:GeneralBE" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="tns:EstadosBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NoExterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoInterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreFiscal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegimenFiscal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefonos" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpresasBE" nillable="true" type="tns:EmpresasBE" />
  <xs:complexType name="CiudadesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cabecera" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q2:GeneralBE" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="tns:EstadosBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CiudadesBE" nillable="true" type="tns:CiudadesBE" />
  <xs:complexType name="EstadosBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q3:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="tns:PaisesBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadosBE" nillable="true" type="tns:EstadosBE" />
  <xs:complexType name="PaisesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q4:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaisesBE" nillable="true" type="tns:PaisesBE" />
  <xs:complexType name="ColoniasBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CP" type="xs:int" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="tns:CiudadesBE" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q5:GeneralBE" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="tns:EstadosBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColoniasBE" nillable="true" type="tns:ColoniasBE" />
</xs:schema>