Hersan.UI.Seguridad/Service References/WCF_Seguridad/Hersan_Seguridad4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResultadoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsValido" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoBE" nillable="true" type="tns:ResultadoBE" />
</xs:schema>