Hersan.UI.CapitalHumano/Connected Services/WCF_Catalogos/Hersan_Catalogos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56779/Hersan_Catalogos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" />
  <xs:import schemaLocation="http://localhost:56779/Hersan_Catalogos.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" />
  <xs:element name="ABCEmpresas_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEmpresas_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABCEmpresas_ObtenerResult" nillable="true" type="q1:ArrayOfEmpresasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEmpresas_Cbo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEmpresas_CboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABCEmpresas_CboResult" nillable="true" type="q2:ArrayOfEmpresasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCDepartamentos_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCDepartamentos_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABCDepartamentos_ObtenerResult" nillable="true" type="q3:ArrayOfDepartamentosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCDEpartamentos_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q4:DepartamentosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCDEpartamentos_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCDEpartamentos_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCDEpartamentos_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q5:DepartamentosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCDEpartamentos_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCDEpartamentos_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCDepartamentos_Combo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEntidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCDepartamentos_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABCDepartamentos_ComboResult" nillable="true" type="q6:ArrayOfDepartamentosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TiposContrato_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TiposContrato_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="TiposContrato_ObtenerResult" nillable="true" type="q7:ArrayOfTiposContratoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCTiposcontrato_Combo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCTiposcontrato_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABCTiposcontrato_ComboResult" nillable="true" type="q8:ArrayOfTiposContratoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCTiposContrato_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q9:TiposContratoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCTiposContrato_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCTiposContrato_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCTiposContrato_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q10:TiposContratoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCTiposContrato_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCTiposContrato_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCPuestos_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCPuestos_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABCPuestos_ObtenerResult" nillable="true" type="q11:ArrayOfPuestosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCPuestos_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q12:PuestosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCPuestos_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCPuestos_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCPuestos_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q13:PuestosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCPuestos_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCPuestos_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCPuestos_Combo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdDepto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCPuestos_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABCPuestos_ComboResult" nillable="true" type="q14:ArrayOfPuestosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHUPuestos_Puntos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPuesto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHUPuestos_PuntosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="CHUPuestos_PuntosResult" nillable="true" type="q15:ArrayOfPuestosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCCompetencias_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCCompetencias_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="ABCCompetencias_ObtenerResult" nillable="true" type="q16:ArrayOfCompetenciasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_Competencias_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q17:CompetenciasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_Competencias_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABC_Competencias_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCCompetencias_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q18:CompetenciasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCCompetencias_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCCompetencias_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCCompetencias_Combo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCCompetencias_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="ABCCompetencias_ComboResult" nillable="true" type="q19:ArrayOfCompetenciasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Entidades_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Entidades_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Entidades_ObtenerResult" nillable="true" type="q20:ArrayOfEntidadesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEntidades_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q21:EntidadesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEntidades_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCEntidades_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEntidades_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q22:EntidadesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEntidades_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCEntidades_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Entidades_Combo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Entidades_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Entidades_ComboResult" nillable="true" type="q23:ArrayOfEntidadesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEducacion_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEducacion_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABCEducacion_ObtenerResult" nillable="true" type="q24:ArrayOfEducacionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEducacion_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q25:EducacionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEducacion_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCEducacion_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEducacion_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q26:EducacionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEducacion_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCEducacion_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEducacion_Combo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEducacion_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABCEducacion_ComboResult" nillable="true" type="q27:ArrayOfEducacionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCFunciones_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCFunciones_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="ABCFunciones_ObtenerResult" nillable="true" type="q28:ArrayOfFuncionesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCFunciones_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q29:FuncionesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCFunciones_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCFunciones_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCFunciones_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q30:FuncionesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCFunciones_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCFunciones_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCFunciones_Combo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCFunciones_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="ABCFunciones_ComboResult" nillable="true" type="q31:ArrayOfFuncionesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCContactos_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCContactos_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABCContactos_ObtenerResult" nillable="true" type="q32:ArrayOfContactosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCContactos_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q33:ContactosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCContactos_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCContactos_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCContactos_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q34:ContactosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCContactos_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCContactos_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCContactos_Combo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCContactos_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABCContactos_ComboResult" nillable="true" type="q35:ArrayOfContactosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEquipoHerramientas_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEquipoHerramientas_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABCEquipoHerramientas_ObtenerResult" nillable="true" type="q36:ArrayOfEquipoHerramientasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEquipoHerramientas_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q37:EquipoHerramientasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEquipoHerramientas_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCEquipoHerramientas_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEquipoHerramientas_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q38:EquipoHerramientasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEquipoHerramientas_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCEquipoHerramientas_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCContratos_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCContratos_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="ABCContratos_ObtenerResult" nillable="true" type="q39:ArrayOfContratosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCContratos_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q40:ContratosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCContratos_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCContratos_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCContratos_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q41:ContratosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCContratos_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCContratos_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCDocumentos_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCDocumentos_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABCDocumentos_ObtenerResult" nillable="true" type="q42:ArrayOfDocumentosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCDocumentos_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q43:DocumentosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCDocumentos_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCDocumentos_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCDocumentos_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q44:DocumentosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCDocumentos_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCDocumentos_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCDocumentos_Combo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCDocumentos_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABCDocumentos_ComboResult" nillable="true" type="q45:ArrayOfDocumentosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHUOrganigrama_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CHUOrganigrama_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="CHUOrganigrama_ObtenerResult" nillable="true" type="q46:ArrayOfOrganigramaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHUOrganigrama_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q47:OrganigramaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHUOrganigrama_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHUOrganigrama_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHUOrganigrama_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q48:OrganigramaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHUOrganigrama_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHUOrganigrama_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEstados_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdPais" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEstados_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABCEstados_ObtenerResult" nillable="true" type="q49:ArrayOfEstadosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCCiudades_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEstado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCCiudades_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABCCiudades_ObtenerResult" nillable="true" type="q50:ArrayOfCiudadesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCColonias_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEstado" type="xs:int" />
        <xs:element minOccurs="0" name="IdCiudad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCColonias_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABCColonias_ObtenerResult" nillable="true" type="q51:ArrayOfColoniasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Familias_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q52:FamiliasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Familias_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENS_Familias_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Familias_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q53:FamiliasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Familias_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENS_Familias_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Familias_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Familias_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ENS_Familias_ObtenerResult" nillable="true" type="q54:ArrayOfFamiliasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Familias_Combo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEntidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Familias_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ENS_Familias_ComboResult" nillable="true" type="q55:ArrayOfFamiliasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_Colores_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q56:ColoresBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_Colores_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABC_Colores_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_Colores_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q57:ColoresBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_Colores_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABC_Colores_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_Colores_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_Colores_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABC_Colores_ObtenerResult" nillable="true" type="q58:ArrayOfColoresBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_Colores_Combo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_Colores_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABC_Colores_ComboResult" nillable="true" type="q59:ArrayOfColoresBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Reflejantes_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q60:ReflejantesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Reflejantes_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENS_Reflejantes_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Reflejantes_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q61:ReflejantesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Reflejantes_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENS_Reflejantes_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Reflejantes_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Reflejantes_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ENS_Reflejantes_ObtenerResult" nillable="true" type="q62:ArrayOfReflejantesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Reflejantes_Combo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Reflejantes_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ENS_Reflejantes_ComboResult" nillable="true" type="q63:ArrayOfReflejantesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_TipoProducto_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q64:TipoProductoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_TipoProducto_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENS_TipoProducto_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_TipoProducto_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q65:TipoProductoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_TipoProducto_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENS_TipoProducto_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_TipoProducto_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_TipoProducto_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ENS_TipoProducto_ObtenerResult" nillable="true" type="q66:ArrayOfTipoProductoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_TipoProducto_Combo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdFamilia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_TipoProducto_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ENS_TipoProducto_ComboResult" nillable="true" type="q67:ArrayOfTipoProductoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Accesorios_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q68:AccesoriosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Accesorios_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENS_Accesorios_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Accesorios_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q69:AccesoriosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Accesorios_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENS_Accesorios_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Accesorios_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Accesorios_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ENS_Accesorios_ObtenerResult" nillable="true" type="q70:ArrayOfAccesoriosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Accesorios_Combo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Accesorios_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ENS_Accesorios_ComboResult" nillable="true" type="q71:ArrayOfAccesoriosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_TipoCliente_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q72:TiposClienteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_TipoCliente_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABC_TipoCliente_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_TipoCliente_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q73:TiposClienteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_TipoCliente_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABC_TipoCliente_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_TipoCliente_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_TipoCliente_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABC_TipoCliente_ObtenerResult" nillable="true" type="q74:ArrayOfTiposClienteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_TipoCliente_Combo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_TipoCliente_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABC_TipoCliente_ComboResult" nillable="true" type="q75:ArrayOfTiposClienteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>