Hersan.UI.CapitalHumano/Connected Services/WCF_Catalogos/Hersan_Catalogos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56779/Hersan_Catalogos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" />
  <xs:complexType name="ArrayOfEmpresasBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpresasBE" nillable="true" type="tns:EmpresasBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpresasBE" nillable="true" type="tns:ArrayOfEmpresasBE" />
  <xs:complexType name="EmpresasBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="tns:CiudadesBE" />
      <xs:element minOccurs="0" name="Colonia" nillable="true" type="tns:ColoniasBE" />
      <xs:element minOccurs="0" name="Contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q1:GeneralBE" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="tns:EstadosBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NoExterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoInterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreFiscal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegimenFiscal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefonos" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpresasBE" nillable="true" type="tns:EmpresasBE" />
  <xs:complexType name="CiudadesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cabecera" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q2:GeneralBE" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="tns:EstadosBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CiudadesBE" nillable="true" type="tns:CiudadesBE" />
  <xs:complexType name="EstadosBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q3:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="tns:PaisesBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadosBE" nillable="true" type="tns:EstadosBE" />
  <xs:complexType name="PaisesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q4:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaisesBE" nillable="true" type="tns:PaisesBE" />
  <xs:complexType name="ColoniasBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CP" type="xs:int" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="tns:CiudadesBE" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q5:GeneralBE" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="tns:EstadosBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColoniasBE" nillable="true" type="tns:ColoniasBE" />
  <xs:complexType name="ArrayOfDepartamentosBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartamentosBE" nillable="true" type="tns:DepartamentosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartamentosBE" nillable="true" type="tns:ArrayOfDepartamentosBE" />
  <xs:complexType name="DepartamentosBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q6:GeneralBE" />
      <xs:element minOccurs="0" name="Entidades" nillable="true" type="tns:EntidadesBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartamentosBE" nillable="true" type="tns:DepartamentosBE" />
  <xs:complexType name="EntidadesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q7:GeneralBE" />
      <xs:element minOccurs="0" name="Empresas" nillable="true" type="tns:EmpresasBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntidadesBE" nillable="true" type="tns:EntidadesBE" />
  <xs:complexType name="ArrayOfTiposContratoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TiposContratoBE" nillable="true" type="tns:TiposContratoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTiposContratoBE" nillable="true" type="tns:ArrayOfTiposContratoBE" />
  <xs:complexType name="TiposContratoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q8:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TiposContratoBE" nillable="true" type="tns:TiposContratoBE" />
  <xs:complexType name="ArrayOfPuestosBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PuestosBE" nillable="true" type="tns:PuestosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPuestosBE" nillable="true" type="tns:ArrayOfPuestosBE" />
  <xs:complexType name="PuestosBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q9:GeneralBE" />
      <xs:element minOccurs="0" name="Departamentos" nillable="true" type="tns:DepartamentosBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PuestosBE" nillable="true" type="tns:PuestosBE" />
  <xs:complexType name="ArrayOfEntidadesBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntidadesBE" nillable="true" type="tns:EntidadesBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntidadesBE" nillable="true" type="tns:ArrayOfEntidadesBE" />
  <xs:complexType name="ArrayOfEducacionBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EducacionBE" nillable="true" type="tns:EducacionBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEducacionBE" nillable="true" type="tns:ArrayOfEducacionBE" />
  <xs:complexType name="EducacionBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q10:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EducacionBE" nillable="true" type="tns:EducacionBE" />
  <xs:complexType name="ArrayOfContactosBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactosBE" nillable="true" type="tns:ContactosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactosBE" nillable="true" type="tns:ArrayOfContactosBE" />
  <xs:complexType name="ContactosBE">
    <xs:sequence>
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q11:GeneralBE" />
      <xs:element minOccurs="0" name="Externo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Interno" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactosBE" nillable="true" type="tns:ContactosBE" />
  <xs:complexType name="ArrayOfEquipoHerramientasBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EquipoHerramientasBE" nillable="true" type="tns:EquipoHerramientasBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipoHerramientasBE" nillable="true" type="tns:ArrayOfEquipoHerramientasBE" />
  <xs:complexType name="EquipoHerramientasBE">
    <xs:sequence>
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q12:GeneralBE" />
      <xs:element minOccurs="0" name="Equipo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Herramienta" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EquipoHerramientasBE" nillable="true" type="tns:EquipoHerramientasBE" />
  <xs:complexType name="ArrayOfDocumentosBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentosBE" nillable="true" type="tns:DocumentosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentosBE" nillable="true" type="tns:ArrayOfDocumentosBE" />
  <xs:complexType name="DocumentosBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q13:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentosBE" nillable="true" type="tns:DocumentosBE" />
  <xs:complexType name="ArrayOfOrganigramaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganigramaBE" nillable="true" type="tns:OrganigramaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganigramaBE" nillable="true" type="tns:ArrayOfOrganigramaBE" />
  <xs:complexType name="OrganigramaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id_padre" type="xs:int" />
      <xs:element minOccurs="0" name="Id_puesto" type="xs:int" />
      <xs:element minOccurs="0" name="Nivel" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Padre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganigramaBE" nillable="true" type="tns:OrganigramaBE" />
  <xs:complexType name="ArrayOfEstadosBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstadosBE" nillable="true" type="tns:EstadosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstadosBE" nillable="true" type="tns:ArrayOfEstadosBE" />
  <xs:complexType name="ArrayOfCiudadesBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CiudadesBE" nillable="true" type="tns:CiudadesBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCiudadesBE" nillable="true" type="tns:ArrayOfCiudadesBE" />
  <xs:complexType name="ArrayOfColoniasBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColoniasBE" nillable="true" type="tns:ColoniasBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColoniasBE" nillable="true" type="tns:ArrayOfColoniasBE" />
</xs:schema>