Hersan.UI.Catalogos/Connected Services/WCF_Catalogos/Hersan_Catalogos1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56779/Hersan_Catalogos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" />
  <xs:complexType name="CondicionesExpBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q1:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CondicionesExpBE" nillable="true" type="tns:CondicionesExpBE" />
  <xs:complexType name="ArrayOfCondicionesExpBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CondicionesExpBE" nillable="true" type="tns:CondicionesExpBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCondicionesExpBE" nillable="true" type="tns:ArrayOfCondicionesExpBE" />
  <xs:complexType name="ArrayOfMonedasBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MonedasBE" nillable="true" type="tns:MonedasBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMonedasBE" nillable="true" type="tns:ArrayOfMonedasBE" />
  <xs:complexType name="MonedasBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q2:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Moneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoCambio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonedasBE" nillable="true" type="tns:MonedasBE" />
  <xs:complexType name="ArrayOfEmpresasBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpresasBE" nillable="true" type="tns:EmpresasBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpresasBE" nillable="true" type="tns:ArrayOfEmpresasBE" />
  <xs:complexType name="EmpresasBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="tns:CiudadesBE" />
      <xs:element minOccurs="0" name="Colonia" nillable="true" type="tns:ColoniasBE" />
      <xs:element minOccurs="0" name="Contacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q3:GeneralBE" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="tns:EstadosBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NoExterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoInterior" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreFiscal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="tns:PaisesBE" />
      <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegimenFiscal" nillable="true" type="tns:RegimenSATBE" />
      <xs:element minOccurs="0" name="Telefonos" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpresasBE" nillable="true" type="tns:EmpresasBE" />
  <xs:complexType name="CiudadesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cabecera" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q4:GeneralBE" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="tns:EstadosBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CiudadesBE" nillable="true" type="tns:CiudadesBE" />
  <xs:complexType name="EstadosBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q5:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="tns:PaisesBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadosBE" nillable="true" type="tns:EstadosBE" />
  <xs:complexType name="PaisesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q6:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaisesBE" nillable="true" type="tns:PaisesBE" />
  <xs:complexType name="ColoniasBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CP" type="xs:int" />
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="tns:CiudadesBE" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q7:GeneralBE" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="tns:EstadosBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColoniasBE" nillable="true" type="tns:ColoniasBE" />
  <xs:complexType name="RegimenSATBE">
    <xs:sequence>
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q8:GeneralBE" />
      <xs:element minOccurs="0" name="Fisica" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Moral" type="xs:boolean" />
      <xs:element minOccurs="0" name="Regimen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegimenSATBE" nillable="true" type="tns:RegimenSATBE" />
  <xs:complexType name="ArrayOfDepartamentosBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartamentosBE" nillable="true" type="tns:DepartamentosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartamentosBE" nillable="true" type="tns:ArrayOfDepartamentosBE" />
  <xs:complexType name="DepartamentosBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q9:GeneralBE" />
      <xs:element minOccurs="0" name="Entidades" nillable="true" type="tns:EntidadesBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartamentosBE" nillable="true" type="tns:DepartamentosBE" />
  <xs:complexType name="EntidadesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q10:GeneralBE" />
      <xs:element minOccurs="0" name="Empresas" nillable="true" type="tns:EmpresasBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntidadesBE" nillable="true" type="tns:EntidadesBE" />
  <xs:complexType name="ArrayOfTiposContratoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TiposContratoBE" nillable="true" type="tns:TiposContratoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTiposContratoBE" nillable="true" type="tns:ArrayOfTiposContratoBE" />
  <xs:complexType name="TiposContratoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q11:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TiposContratoBE" nillable="true" type="tns:TiposContratoBE" />
  <xs:complexType name="ArrayOfPuestosBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PuestosBE" nillable="true" type="tns:PuestosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPuestosBE" nillable="true" type="tns:ArrayOfPuestosBE" />
  <xs:complexType name="PuestosBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q12:GeneralBE" />
      <xs:element minOccurs="0" name="Departamentos" nillable="true" type="tns:DepartamentosBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Puntos" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PuestosBE" nillable="true" type="tns:PuestosBE" />
  <xs:complexType name="ArrayOfEntidadesBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntidadesBE" nillable="true" type="tns:EntidadesBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntidadesBE" nillable="true" type="tns:ArrayOfEntidadesBE" />
  <xs:complexType name="ArrayOfEducacionBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EducacionBE" nillable="true" type="tns:EducacionBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEducacionBE" nillable="true" type="tns:ArrayOfEducacionBE" />
  <xs:complexType name="EducacionBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q13:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EducacionBE" nillable="true" type="tns:EducacionBE" />
  <xs:complexType name="ArrayOfContactosBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactosBE" nillable="true" type="tns:ContactosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactosBE" nillable="true" type="tns:ArrayOfContactosBE" />
  <xs:complexType name="ContactosBE">
    <xs:sequence>
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q14:GeneralBE" />
      <xs:element minOccurs="0" name="Externo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Interno" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactosBE" nillable="true" type="tns:ContactosBE" />
  <xs:complexType name="ArrayOfEquipoHerramientasBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EquipoHerramientasBE" nillable="true" type="tns:EquipoHerramientasBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipoHerramientasBE" nillable="true" type="tns:ArrayOfEquipoHerramientasBE" />
  <xs:complexType name="EquipoHerramientasBE">
    <xs:sequence>
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q15:GeneralBE" />
      <xs:element minOccurs="0" name="Equipo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Herramienta" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EquipoHerramientasBE" nillable="true" type="tns:EquipoHerramientasBE" />
  <xs:complexType name="ArrayOfDocumentosBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentosBE" nillable="true" type="tns:DocumentosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentosBE" nillable="true" type="tns:ArrayOfDocumentosBE" />
  <xs:complexType name="DocumentosBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q16:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentosBE" nillable="true" type="tns:DocumentosBE" />
  <xs:complexType name="ArrayOfOrganigramaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganigramaBE" nillable="true" type="tns:OrganigramaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganigramaBE" nillable="true" type="tns:ArrayOfOrganigramaBE" />
  <xs:complexType name="OrganigramaBE">
    <xs:sequence>
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q17:GeneralBE" />
      <xs:element minOccurs="0" name="Departamentos" nillable="true" type="tns:DepartamentosBE" />
      <xs:element minOccurs="0" name="Entidades" nillable="true" type="tns:EntidadesBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdJefe" type="xs:int" />
      <xs:element minOccurs="0" name="Nivel" type="xs:int" />
      <xs:element minOccurs="0" name="NombreJefe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Puestos" nillable="true" type="tns:PuestosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganigramaBE" nillable="true" type="tns:OrganigramaBE" />
  <xs:complexType name="ArrayOfEstadosBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EstadosBE" nillable="true" type="tns:EstadosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEstadosBE" nillable="true" type="tns:ArrayOfEstadosBE" />
  <xs:complexType name="ArrayOfCiudadesBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CiudadesBE" nillable="true" type="tns:CiudadesBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCiudadesBE" nillable="true" type="tns:ArrayOfCiudadesBE" />
  <xs:complexType name="ArrayOfColoniasBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColoniasBE" nillable="true" type="tns:ColoniasBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColoniasBE" nillable="true" type="tns:ArrayOfColoniasBE" />
  <xs:complexType name="FamiliasBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q18:GeneralBE" />
      <xs:element minOccurs="0" name="Entidad" nillable="true" type="tns:EntidadesBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FamiliasBE" nillable="true" type="tns:FamiliasBE" />
  <xs:complexType name="ArrayOfFamiliasBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FamiliasBE" nillable="true" type="tns:FamiliasBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFamiliasBE" nillable="true" type="tns:ArrayOfFamiliasBE" />
  <xs:complexType name="ColoresBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q19:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColoresBE" nillable="true" type="tns:ColoresBE" />
  <xs:complexType name="ArrayOfColoresBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColoresBE" nillable="true" type="tns:ColoresBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColoresBE" nillable="true" type="tns:ArrayOfColoresBE" />
  <xs:complexType name="ReflejantesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="tns:ColoresBE" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q20:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReflejantesBE" nillable="true" type="tns:ReflejantesBE" />
  <xs:complexType name="ArrayOfReflejantesBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReflejantesBE" nillable="true" type="tns:ReflejantesBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReflejantesBE" nillable="true" type="tns:ArrayOfReflejantesBE" />
  <xs:complexType name="TipoProductoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q21:GeneralBE" />
      <xs:element minOccurs="0" name="Familia" nillable="true" type="tns:FamiliasBE" />
      <xs:element minOccurs="0" name="Fraccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoProductoBE" nillable="true" type="tns:TipoProductoBE" />
  <xs:complexType name="ArrayOfTipoProductoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoProductoBE" nillable="true" type="tns:TipoProductoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoProductoBE" nillable="true" type="tns:ArrayOfTipoProductoBE" />
  <xs:complexType name="AccesoriosBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q22:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccesoriosBE" nillable="true" type="tns:AccesoriosBE" />
  <xs:complexType name="ArrayOfAccesoriosBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccesoriosBE" nillable="true" type="tns:AccesoriosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccesoriosBE" nillable="true" type="tns:ArrayOfAccesoriosBE" />
  <xs:complexType name="TiposClienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q23:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TiposClienteBE" nillable="true" type="tns:TiposClienteBE" />
  <xs:complexType name="ArrayOfTiposClienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TiposClienteBE" nillable="true" type="tns:TiposClienteBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTiposClienteBE" nillable="true" type="tns:ArrayOfTiposClienteBE" />
  <xs:complexType name="ArrayOfAgentesBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AgentesBE" nillable="true" type="tns:AgentesBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgentesBE" nillable="true" type="tns:ArrayOfAgentesBE" />
  <xs:complexType name="AgentesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clave" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comision" type="xs:decimal" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q24:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgentesBE" nillable="true" type="tns:AgentesBE" />
</xs:schema>