Hersan.UI.Catalogos/Connected Services/WCF_Catalogos/Hersan_Catalogos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56779/Hersan_Catalogos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" />
  <xs:element name="ABCEmpresas_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEmpresa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEmpresas_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABCEmpresas_ObtenerResult" nillable="true" type="q1:ArrayOfEmpresasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEmpresas_Cbo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCEmpresas_CboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABCEmpresas_CboResult" nillable="true" type="q2:ArrayOfEmpresasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCDepartamentos_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCDepartamentos_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABCDepartamentos_ObtenerResult" nillable="true" type="q3:ArrayOfDepartamentosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCDEpartamentos_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q4:DepartamentosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCDEpartamentos_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCDEpartamentos_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCDEpartamentos_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="obj" nillable="true" type="q5:DepartamentosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCDEpartamentos_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCDEpartamentos_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>