Hersan.UI.Catalogos/Connected Services/WCF_Catalogos/Hersan_Catalogos5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56779/Hersan_Catalogos.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" />
  <xs:import schemaLocation="http://localhost:56779/Hersan_Catalogos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" />
  <xs:complexType name="ArrayOfCompetenciasBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompetenciasBE" nillable="true" type="tns:CompetenciasBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompetenciasBE" nillable="true" type="tns:ArrayOfCompetenciasBE" />
  <xs:complexType name="CompetenciasBE">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q1:GeneralBE" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompetenciasBE" nillable="true" type="tns:CompetenciasBE" />
  <xs:complexType name="ArrayOfFuncionesBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FuncionesBE" nillable="true" type="tns:FuncionesBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuncionesBE" nillable="true" type="tns:ArrayOfFuncionesBE" />
  <xs:complexType name="FuncionesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Continua" type="xs:boolean" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q2:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Periodica" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FuncionesBE" nillable="true" type="tns:FuncionesBE" />
  <xs:complexType name="ArrayOfContratosBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContratosBE" nillable="true" type="tns:ContratosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContratosBE" nillable="true" type="tns:ArrayOfContratosBE" />
  <xs:complexType name="ContratosBE">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q3:GeneralBE" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Departamentos" nillable="true" type="q4:DepartamentosBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="TiposContrato" nillable="true" type="q5:TiposContratoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContratosBE" nillable="true" type="tns:ContratosBE" />
</xs:schema>