Hersan.UI.Catalogos/Connected Services/WCF_Ensamble/Hersan_Ensamble8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hersan.Entidades.APT" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.APT" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62534/Hersan_Ensamble.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" />
  <xs:import schemaLocation="http://localhost:62534/Hersan_Ensamble.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" />
  <xs:complexType name="ArrayOfAlmacenPTBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlmacenPTBE" nillable="true" type="tns:AlmacenPTBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlmacenPTBE" nillable="true" type="tns:ArrayOfAlmacenPTBE" />
  <xs:complexType name="AlmacenPTBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abrev" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q1:GeneralBE" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Empresa" nillable="true" type="q2:EmpresasBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlmacenPTBE" nillable="true" type="tns:AlmacenPTBE" />
</xs:schema>