Hersan.UI.CapitalHumano/Connected Services/WCF_CHumano/Hersan_CHumano1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60349/Hersan_CHumano.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" />
  <xs:import schemaLocation="http://localhost:60349/Hersan_CHumano.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" />
  <xs:complexType name="PerfilesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Competencia" nillable="true" type="tns:ArrayOfCompetenciasBE" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q1:GeneralBE" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Educacion" nillable="true" type="q2:ArrayOfEducacionBE" />
      <xs:element minOccurs="0" name="Experiencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Funcion" nillable="true" type="tns:ArrayOfFuncionesBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Puesto" nillable="true" type="q3:PuestosBE" />
      <xs:element minOccurs="0" name="Sel" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerfilesBE" nillable="true" type="tns:PerfilesBE" />
  <xs:complexType name="ArrayOfCompetenciasBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompetenciasBE" nillable="true" type="tns:CompetenciasBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompetenciasBE" nillable="true" type="tns:ArrayOfCompetenciasBE" />
  <xs:complexType name="CompetenciasBE">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q4:GeneralBE" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ponderacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompetenciasBE" nillable="true" type="tns:CompetenciasBE" />
  <xs:complexType name="ArrayOfFuncionesBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FuncionesBE" nillable="true" type="tns:FuncionesBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuncionesBE" nillable="true" type="tns:ArrayOfFuncionesBE" />
  <xs:complexType name="FuncionesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Continua" type="xs:boolean" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q5:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Periodica" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FuncionesBE" nillable="true" type="tns:FuncionesBE" />
  <xs:complexType name="ArrayOfSolicitudPersonalBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SolicitudPersonalBE" nillable="true" type="tns:SolicitudPersonalBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolicitudPersonalBE" nillable="true" type="tns:ArrayOfSolicitudPersonalBE" />
  <xs:complexType name="SolicitudPersonalBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autorizado" type="xs:boolean" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q6:GeneralBE" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Departamentos" nillable="true" type="q7:DepartamentosBE" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Entidades" nillable="true" type="q8:EntidadesBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Indicadores" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Justificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoAutorizado" type="xs:boolean" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Puestos" nillable="true" type="q9:PuestosBE" />
      <xs:element minOccurs="0" name="Sueldo" type="xs:decimal" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="TiposContrato" nillable="true" type="q10:TiposContratoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SolicitudPersonalBE" nillable="true" type="tns:SolicitudPersonalBE" />
  <xs:complexType name="ArrayOfDictamenSustitucionBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DictamenSustitucionBE" nillable="true" type="tns:DictamenSustitucionBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDictamenSustitucionBE" nillable="true" type="tns:ArrayOfDictamenSustitucionBE" />
  <xs:complexType name="DictamenSustitucionBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aceptado" type="xs:boolean" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q11:GeneralBE" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Departamentos" nillable="true" type="q12:DepartamentosBE" />
      <xs:element minOccurs="0" name="Dictamen" nillable="true" type="xs:string" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Entidades" nillable="true" type="q13:EntidadesBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Puestos" nillable="true" type="q14:PuestosBE" />
      <xs:element minOccurs="0" name="Rechazado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Solicitud" nillable="true" type="tns:SolicitudPersonalBE" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="TiposContrato" nillable="true" type="q15:TiposContratoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DictamenSustitucionBE" nillable="true" type="tns:DictamenSustitucionBE" />
  <xs:complexType name="ArrayOfNuevoPuestoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NuevoPuestoBE" nillable="true" type="tns:NuevoPuestoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNuevoPuestoBE" nillable="true" type="tns:ArrayOfNuevoPuestoBE" />
  <xs:complexType name="NuevoPuestoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autorizado" type="xs:boolean" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q16:GeneralBE" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Departamentos" nillable="true" type="q17:DepartamentosBE" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Entidades" nillable="true" type="q18:EntidadesBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Indicadores" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Justificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Necesidades" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoAutorizado" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objetivos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ocupantes" type="xs:int" />
      <xs:element minOccurs="0" name="Prestaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PuestosCargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resultados" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sueldo" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NuevoPuestoBE" nillable="true" type="tns:NuevoPuestoBE" />
  <xs:complexType name="ArrayOfDictamenNuevoPuestoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DictamenNuevoPuestoBE" nillable="true" type="tns:DictamenNuevoPuestoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDictamenNuevoPuestoBE" nillable="true" type="tns:ArrayOfDictamenNuevoPuestoBE" />
  <xs:complexType name="DictamenNuevoPuestoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Autorizado" type="xs:boolean" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q19:GeneralBE" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Departamentos" nillable="true" type="q20:DepartamentosBE" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Entidades" nillable="true" type="q21:EntidadesBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NoAutorizado" type="xs:boolean" />
      <xs:element minOccurs="0" name="NuevoPuesto" nillable="true" type="tns:NuevoPuestoBE" />
      <xs:element minOccurs="0" name="OpinionesCH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpinionesDG" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DictamenNuevoPuestoBE" nillable="true" type="tns:DictamenNuevoPuestoBE" />
</xs:schema>