Hersan.UI.CapitalHumano/Connected Services/WCF_CHumano/Hersan_CHumano7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Relchec" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Relchec" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60349/Hersan_CHumano.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" />
  <xs:complexType name="ArrayOfHorariosBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HorariosBE" nillable="true" type="tns:HorariosBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHorariosBE" nillable="true" type="tns:ArrayOfHorariosBE" />
  <xs:complexType name="HorariosBE">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q1:GeneralBE" />
      <xs:element minOccurs="0" name="HorEntComida" type="xs:int" />
      <xs:element minOccurs="0" name="HorSalComida" type="xs:int" />
      <xs:element minOccurs="0" name="HoraEnt" type="xs:int" />
      <xs:element minOccurs="0" name="HoraSalida" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MinEntComida" type="xs:int" />
      <xs:element minOccurs="0" name="MinSalComida" type="xs:int" />
      <xs:element minOccurs="0" name="MinutoEnt" type="xs:int" />
      <xs:element minOccurs="0" name="MinutoSalida" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tolerancia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HorariosBE" nillable="true" type="tns:HorariosBE" />
</xs:schema>