Hersan.UI.CapitalHumano/Connected Services/WCF_CHumano/Hersan_CHumano4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60349/Hersan_CHumano.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" />
  <xs:import schemaLocation="http://localhost:60349/Hersan_CHumano.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Relchec" />
  <xs:element name="CHU_Perfiles_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q1:PerfilesBE" />
        <xs:element minOccurs="0" name="Detalle" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Perfiles_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_Perfiles_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Perfiles_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdDepto" type="xs:int" />
        <xs:element minOccurs="0" name="IdPuesto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Perfiles_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_Perfiles_ObtenerResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Perfiles_Actualiza">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q2:PerfilesBE" />
        <xs:element minOccurs="0" name="Detalle" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Perfiles_ActualizaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_Perfiles_ActualizaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Perfiles_Elimina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdPerfil" type="xs:int" />
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Perfiles_EliminaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_Perfiles_EliminaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_SolicitudP_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_SolicitudP_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="CHU_SolicitudP_ObtenerResult" nillable="true" type="q3:ArrayOfSolicitudPersonalBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_SolicitudP_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q4:SolicitudPersonalBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_SolicitudP_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_SolicitudP_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_SolicitudP_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q5:SolicitudPersonalBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_SolicitudP_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_SolicitudP_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHUDictamenSolicitud_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CHUDictamenSolicitud_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="CHUDictamenSolicitud_ObtenerResult" nillable="true" type="q6:ArrayOfDictamenSustitucionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHUDictamenSolicitud__Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q7:DictamenSustitucionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHUDictamenSolicitud__GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHUDictamenSolicitud__GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHUDictamenSolicitud_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q8:DictamenSustitucionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHUDictamenSolicitud_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHUDictamenSolicitud_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expedientes_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tablas" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expedientes_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_Expedientes_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expedientes_Consultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="Expediente" nillable="true" type="q9:ExpedientesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expedientes_ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="CHU_Expedientes_ConsultarResult" nillable="true" type="q10:ArrayOfExpedientesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expedientes_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="Tablas" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expedientes_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_Expedientes_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expedientes_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expedientes_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_Expedientes_EliminarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_ExpedientesDatosPersonales_Consultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="Expediente" nillable="true" type="q11:ExpedientesDatosPersonales" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_ExpedientesDatosPersonales_ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="CHU_ExpedientesDatosPersonales_ConsultarResult" nillable="true" type="q12:ArrayOfExpedientesDatosPersonales" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expedientes_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdExpediente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expedientes_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="CHU_Expedientes_ObtenerResult" nillable="true" type="q13:ArrayOfExpedientesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_ExpedientesDocumentos_Consultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="Expediente" nillable="true" type="q14:ExpedienteDocumentos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_ExpedientesDocumentos_ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="CHU_ExpedientesDocumentos_ConsultarResult" nillable="true" type="q15:ArrayOfExpedienteDocumentos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expediente_Familia_Consultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="Expediente" nillable="true" type="q16:ExpedienteFamilia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expediente_Familia_ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="CHU_Expediente_Familia_ConsultarResult" nillable="true" type="q17:ArrayOfExpedienteFamilia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expediente_Estudios_Consultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="Expediente" nillable="true" type="q18:ExpedienteEstudios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expediente_Estudios_ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="CHU_Expediente_Estudios_ConsultarResult" nillable="true" type="q19:ArrayOfExpedienteEstudios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expediente_Empleos_Consultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="Expediente" nillable="true" type="q20:ExpedienteEmpleos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expediente_Empleos_ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="CHU_Expediente_Empleos_ConsultarResult" nillable="true" type="q21:ArrayOfExpedienteEmpleos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expediente_Salud_Consultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="Expediente" nillable="true" type="q22:ExpedienteSalud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expediente_Salud_ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="CHU_Expediente_Salud_ConsultarResult" nillable="true" type="q23:ArrayOfExpedienteSalud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expediente_Conocimiento_Consultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="Expediente" nillable="true" type="q24:ExpedienteConocimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expediente_Conocimiento_ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="CHU_Expediente_Conocimiento_ConsultarResult" nillable="true" type="q25:ArrayOfExpedienteConocimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expediente_Referencias_Consultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="Expediente" nillable="true" type="q26:ExpedienteReferencias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expediente_Referencias_ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="CHU_Expediente_Referencias_ConsultarResult" nillable="true" type="q27:ArrayOfExpedienteReferencias" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expediente_Generales_Consultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="Expediente" nillable="true" type="q28:ExpedienteGenerales" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expediente_Generales_ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="CHU_Expediente_Generales_ConsultarResult" nillable="true" type="q29:ArrayOfExpedienteGenerales" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expediente_Economicos_Consultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="Expediente" nillable="true" type="q30:ExpedienteEconomicos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Expediente_Economicos_ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="CHU_Expediente_Economicos_ConsultarResult" nillable="true" type="q31:ArrayOfExpedienteEconomicos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_NuevoPuesto_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_NuevoPuesto_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="CHU_NuevoPuesto_ObtenerResult" nillable="true" type="q32:ArrayOfNuevoPuestoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_NuevoPuesto_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q33:NuevoPuestoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_NuevoPuesto_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_NuevoPuesto_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_NuevoPuesto_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q34:NuevoPuestoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_NuevoPuesto_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_NuevoPuesto_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_DictamenNuevoP_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_DictamenNuevoP_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="CHU_DictamenNuevoP_ObtenerResult" nillable="true" type="q35:ArrayOfDictamenNuevoPuestoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_DictamenNuevoP_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q36:DictamenNuevoPuestoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_DictamenNuevoP_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_DictamenNuevoP_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_DictamenNuevoP_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q37:DictamenNuevoPuestoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_DictamenNuevoP_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_DictamenNuevoP_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_DatosEMP_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="evaluacion" nillable="true" type="q38:EvaluacionInduccionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_DatosEMP_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="CHU_DatosEMP_ObtenerResult" nillable="true" type="q39:ArrayOfEvaluacionInduccionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_EvaluacionInduccion_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_EvaluacionInduccion_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="CHU_EvaluacionInduccion_ObtenerResult" nillable="true" type="q40:ArrayOfEvaluacionInduccionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_ObtenerPreguntas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_ObtenerPreguntasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="CHU_ObtenerPreguntasResult" nillable="true" type="q41:ArrayOfPreguntasEvaluacionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_EvaluacionInduccion_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tablas" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_EvaluacionInduccion_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_EvaluacionInduccion_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_SeguimientoCan_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_SeguimientoCan_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="CHU_SeguimientoCan_ObtenerResult" nillable="true" type="q42:ArrayOfSeguimientoCandidatosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_SeguimientoCan_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q43:SeguimientoCandidatosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_SeguimientoCan_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_SeguimientoCan_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_SeguimientoCan_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q44:SeguimientoCandidatosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_SeguimientoCan_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_SeguimientoCan_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCHorarios_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCHorarios_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Relchec" minOccurs="0" name="ABCHorarios_ObtenerResult" nillable="true" type="q45:ArrayOfHorariosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCHorarios_Guarda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Relchec" minOccurs="0" name="obj" nillable="true" type="q46:HorariosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCHorarios_GuardaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCHorarios_GuardaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCHorarios_Actualiza">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Relchec" minOccurs="0" name="obj" nillable="true" type="q47:HorariosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABCHorarios_ActualizaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABCHorarios_ActualizaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Digitalizados_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdExp" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Digitalizados_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_Digitalizados_ObtenerResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Digitalizados_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q48:DigitalizadosBE" />
        <xs:element minOccurs="0" name="Detalle" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Digitalizados_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_Digitalizados_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Digitalizados_Actualiza">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q49:DigitalizadosBE" />
        <xs:element minOccurs="0" name="Detalle" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Digitalizados_ActualizaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_Digitalizados_ActualizaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Digitalizados_Elimina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdDocs" type="xs:int" />
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_Digitalizados_EliminaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_Digitalizados_EliminaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_DescripcionPuestos_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdPerfifl" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_DescripcionPuestos_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_DescripcionPuestos_ObtenerResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_DescPuestos_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q50:DescripcionPuestosBE" />
        <xs:element minOccurs="0" name="Contactos" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Condiciones" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_DescPuestos_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_DescPuestos_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_DescPuestos_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q51:DescripcionPuestosBE" />
        <xs:element minOccurs="0" name="Contactos" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Condiciones" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_DescPuestos_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_DescPuestos_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_DescPuestos_Elimina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdDesc" type="xs:int" />
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_DescPuestos_EliminaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_DescPuestos_EliminaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHUEmpleados_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q52:EmpleadosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHUEmpleados_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHUEmpleados_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_EmpleadosActualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" minOccurs="0" name="obj" nillable="true" type="q53:EmpleadosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CHU_EmpleadosActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CHU_EmpleadosActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>