Hersan.UI.CapitalHumano/Connected Services/WCF_CHumano/Hersan_CHumano1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.CapitalHumano" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60349/Hersan_CHumano.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" />
  <xs:import schemaLocation="http://localhost:60349/Hersan_CHumano.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" />
  <xs:complexType name="PerfilesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Competencia" nillable="true" type="tns:ArrayOfCompetenciasBE" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q1:GeneralBE" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Educacion" nillable="true" type="q2:ArrayOfEducacionBE" />
      <xs:element minOccurs="0" name="Experiencia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Funcion" nillable="true" type="tns:ArrayOfFuncionesBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="Puesto" nillable="true" type="q3:PuestosBE" />
      <xs:element minOccurs="0" name="Sel" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerfilesBE" nillable="true" type="tns:PerfilesBE" />
  <xs:complexType name="ArrayOfCompetenciasBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CompetenciasBE" nillable="true" type="tns:CompetenciasBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompetenciasBE" nillable="true" type="tns:ArrayOfCompetenciasBE" />
  <xs:complexType name="CompetenciasBE">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q4:GeneralBE" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ponderacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompetenciasBE" nillable="true" type="tns:CompetenciasBE" />
  <xs:complexType name="ArrayOfFuncionesBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FuncionesBE" nillable="true" type="tns:FuncionesBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuncionesBE" nillable="true" type="tns:ArrayOfFuncionesBE" />
  <xs:complexType name="FuncionesBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Continua" type="xs:boolean" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Comun" minOccurs="0" name="DatosUsuario" nillable="true" type="q5:GeneralBE" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Periodica" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FuncionesBE" nillable="true" type="tns:FuncionesBE" />
</xs:schema>