Hersan.UI.Calidad/Connected Services/WCF_Ensamble/Hersan_Ensamble5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62534/Hersan_Ensamble.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" />
  <xs:import schemaLocation="http://localhost:62534/Hersan_Ensamble.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" />
  <xs:import schemaLocation="http://localhost:62534/Hersan_Ensamble.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Inyeccion" />
  <xs:import schemaLocation="http://localhost:62534/Hersan_Ensamble.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Calidad" />
  <xs:element name="ABC_Clientes_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tablas" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Entidades" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_Clientes_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABC_Clientes_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_Clientes_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tablas" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Entidades" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="Estatus" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_Clientes_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABC_Clientes_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_Clientes_Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" minOccurs="0" name="Lista" nillable="true" type="q1:ClientesBE" />
        <xs:element minOccurs="0" name="Entidades" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_Clientes_BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" minOccurs="0" name="ABC_Clientes_BuscarResult" nillable="true" type="q2:ArrayOfClientesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_Clientes_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_Clientes_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" minOccurs="0" name="ABC_Clientes_ObtenerResult" nillable="true" type="q3:ArrayOfClientesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_ClientesAgente_Combo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdAgente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_ClientesAgente_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" minOccurs="0" name="ABC_ClientesAgente_ComboResult" nillable="true" type="q4:ArrayOfClientesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_ClientesAgente_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" minOccurs="0" name="obj" nillable="true" type="q5:ClientesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_ClientesAgente_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ABC_ClientesAgente_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_FormaPago_Combo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_FormaPago_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABC_FormaPago_ComboResult" nillable="true" type="q6:ArrayOfFormasPagoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_MetodoPago_Combo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_MetodoPago_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABC_MetodoPago_ComboResult" nillable="true" type="q7:ArrayOfMetodosPagoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_UsoCFDI_Combo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ABC_UsoCFDI_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ABC_UsoCFDI_ComboResult" nillable="true" type="q8:ArrayOfUsoCFDIBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Servicios_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" minOccurs="0" name="obj" nillable="true" type="q9:ServiciosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Servicios_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENS_Servicios_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Servicios_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" minOccurs="0" name="obj" nillable="true" type="q10:ServiciosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Servicios_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENS_Servicios_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Servicios_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Servicios_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" minOccurs="0" name="ENS_Servicios_ObtenerResult" nillable="true" type="q11:ArrayOfServiciosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Servicios_Combo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdEntidad" type="xs:int" />
        <xs:element minOccurs="0" name="Moneda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Servicios_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" minOccurs="0" name="ENS_Servicios_ComboResult" nillable="true" type="q12:ArrayOfServiciosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_ServiciosCotizacion_Combo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Moneda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_ServiciosCotizacion_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" minOccurs="0" name="ENS_ServiciosCotizacion_ComboResult" nillable="true" type="q13:ArrayOfServiciosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Precios_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oData" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Moneda" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Precios_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENS_Precios_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Precios_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Moneda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Precios_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" minOccurs="0" name="ENS_Precios_ObtenerResult" nillable="true" type="q14:ArrayOfPreciosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_ProductosFicha_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tablas" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="Colores" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Reflejantes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Accesorios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_ProductosFicha_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENS_ProductosFicha_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_ProductosFicha_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tablas" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="Colores" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Reflejantes" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Accesorios" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="Estatus" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_ProductosFicha_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENS_ProductosFicha_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_ProductosFicha_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" minOccurs="0" name="obj" nillable="true" type="q15:ProductoEnsambleBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_ProductosFicha_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" minOccurs="0" name="ENS_ProductosFicha_ObtenerResult" nillable="true" type="q16:ArrayOfProductoEnsambleBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_ProductosCotizacion_Combo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Nacional" type="xs:boolean" />
        <xs:element minOccurs="0" name="Moneda" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_ProductosCotizacion_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" minOccurs="0" name="ENS_ProductosCotizacion_ComboResult" nillable="true" type="q17:ArrayOfProductoEnsambleBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_CarcasasCotizacion_Combo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdFicha" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_CarcasasCotizacion_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ENS_CarcasasCotizacion_ComboResult" nillable="true" type="q18:ArrayOfColoresBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_ReflejanteCotizacion_Combo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdFicha" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_ReflejanteCotizacion_ComboResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Catalogos" minOccurs="0" name="ENS_ReflejanteCotizacion_ComboResult" nillable="true" type="q19:ArrayOfReflejantesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Cotizacion_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" minOccurs="0" name="obj" nillable="true" type="q20:PedidosBE" />
        <xs:element minOccurs="0" name="oDetalle" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Cotizacion_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENS_Cotizacion_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Cotizacion_Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCliente" type="xs:int" />
        <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Inicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Final" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Cotizacion_BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" minOccurs="0" name="ENS_Cotizacion_BuscarResult" nillable="true" type="q21:ArrayOfPedidosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Cotizacion_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCotizacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Cotizacion_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" minOccurs="0" name="ENS_Cotizacion_ObtenerResult" nillable="true" type="q22:ArrayOfPedidosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Cotizacion_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" minOccurs="0" name="obj" nillable="true" type="q23:PedidosBE" />
        <xs:element minOccurs="0" name="oDetalle" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Cotizacion_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENS_Cotizacion_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Cotizacion_Reporte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCotiza" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Cotizacion_ReporteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENS_Cotizacion_ReporteResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Cotizacion_ReporteDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdCotiza" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Cotizacion_ReporteDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ENS_Cotizacion_ReporteDetalleResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Cotizacion_Consulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdAgente" type="xs:int" />
        <xs:element minOccurs="0" name="IdCotiza" type="xs:int" />
        <xs:element minOccurs="0" name="Inicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Final" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Cotizacion_ConsultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" minOccurs="0" name="ENS_Cotizacion_ConsultaResult" nillable="true" type="q24:ArrayOfPedidosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Pedido_Consulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdAgente" type="xs:int" />
        <xs:element minOccurs="0" name="Pedido" type="xs:int" />
        <xs:element minOccurs="0" name="Inicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Final" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ENS_Pedido_ConsultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Ensamble" minOccurs="0" name="ENS_Pedido_ConsultaResult" nillable="true" type="q25:ArrayOfPedidosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRO_Inyeccion_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Inyeccion" minOccurs="0" name="Obj" nillable="true" type="q26:InyeccionBE" />
        <xs:element minOccurs="0" name="Detalle" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRO_Inyeccion_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PRO_Inyeccion_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRO_Inyeccion_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Inyeccion" minOccurs="0" name="Obj" nillable="true" type="q27:InyeccionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRO_Inyeccion_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Inyeccion" minOccurs="0" name="PRO_Inyeccion_ObtenerResult" nillable="true" type="q28:ArrayOfInyeccionDetalleBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRO_Inyeccion_Consulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lista" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRO_Inyeccion_ConsultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Inyeccion" minOccurs="0" name="PRO_Inyeccion_ConsultaResult" nillable="true" type="q29:InyeccionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRO_Temperaturas_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Inyeccion" minOccurs="0" name="Obj" nillable="true" type="q30:TemperaturasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRO_Temperaturas_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PRO_Temperaturas_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRO_Temperaturas_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PRO_Temperaturas_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Inyeccion" minOccurs="0" name="PRO_Temperaturas_ObtenerResult" nillable="true" type="q31:TemperaturasBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRO_TemperaturasMolde_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Inyeccion" minOccurs="0" name="Obj" nillable="true" type="q32:TempMoldesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRO_TemperaturasMolde_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PRO_TemperaturasMolde_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRO_TemperaturasMolde_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PRO_TemperaturasMolde_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Inyeccion" minOccurs="0" name="PRO_TemperaturasMolde_ObtenerResult" nillable="true" type="q33:TempMoldesBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRO_Parametros_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tabla" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRO_Parametros_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PRO_Parametros_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRO_Parametros_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PRO_Parametros_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Inyeccion" minOccurs="0" name="PRO_Parametros_ObtenerResult" nillable="true" type="q34:ParametrosInyeccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_InspeccionInyeccion_Guarda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Calidad" minOccurs="0" name="Obj" nillable="true" type="q35:CalidadBE" />
        <xs:element minOccurs="0" name="Detalle" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_InspeccionInyeccion_GuardaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CAL_InspeccionInyeccion_GuardaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_InspeccionInyeccion_Actualiza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdInyeccion" type="xs:int" />
        <xs:element minOccurs="0" name="Detalle" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_InspeccionInyeccion_ActualizaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CAL_InspeccionInyeccion_ActualizaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_ReflejantesNorma_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tabla" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_ReflejantesNorma_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CAL_ReflejantesNorma_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_ReflejantesNorma_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tabla" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="Estatus" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_ReflejantesNorma_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CAL_ReflejantesNorma_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_ReflejantesNorma_Obtener">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_ReflejantesNorma_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Calidad" minOccurs="0" name="CAL_ReflejantesNorma_ObtenerResult" nillable="true" type="q36:ArrayOfNormaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_InspeccionInyeccion_Analisis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Calidad" minOccurs="0" name="Obj" nillable="true" type="q37:CalidadBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_InspeccionInyeccion_AnalisisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Inyeccion" minOccurs="0" name="CAL_InspeccionInyeccion_AnalisisResult" nillable="true" type="q38:ArrayOfInyeccionBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_InspeccionInyeccion_AnalisisDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lista" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_InspeccionInyeccion_AnalisisDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Calidad" minOccurs="0" name="CAL_InspeccionInyeccion_AnalisisDetalleResult" nillable="true" type="q39:ArrayOfCalidadDetalleBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRO_Ensamble_Parametros_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Calidad" minOccurs="0" name="Obj" nillable="true" type="q40:EnsambleParametrosBE" />
        <xs:element minOccurs="0" name="Detalle" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRO_Ensamble_Parametros_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PRO_Ensamble_Parametros_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRO_Ensamble_Parametros_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Calidad" minOccurs="0" name="Obj" nillable="true" type="q41:EnsambleParametrosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PRO_Ensamble_Parametros_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Calidad" minOccurs="0" name="PRO_Ensamble_Parametros_ObtenerResult" nillable="true" type="q42:ArrayOfEnsambleParametrosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_InspeccionEnsamble_Consultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lista" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_InspeccionEnsamble_ConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Calidad" minOccurs="0" name="CAL_InspeccionEnsamble_ConsultarResult" nillable="true" type="q43:ArrayOfCalidadEnsambleBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_InspeccionEnsamble_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Calidad" minOccurs="0" name="Obj" nillable="true" type="q44:CalidadEnsambleBE" />
        <xs:element minOccurs="0" name="Detalle" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_InspeccionEnsamble_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CAL_InspeccionEnsamble_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_InspeccionEnsamble_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Calidad" minOccurs="0" name="Obj" nillable="true" type="q45:CalidadEnsambleBE" />
        <xs:element minOccurs="0" name="Detalle" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_InspeccionEnsamble_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CAL_InspeccionEnsamble_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_InspeccionEnsamble_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lista" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_InspeccionEnsamble_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Calidad" minOccurs="0" name="CAL_InspeccionEnsamble_ObtenerResult" nillable="true" type="q46:ArrayOfCalidadEnsambleDetalleBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_InspeccionEnsamble_Analisis">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Calidad" minOccurs="0" name="Obj" nillable="true" type="q47:CalidadEnsambleBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_InspeccionEnsamble_AnalisisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Calidad" minOccurs="0" name="CAL_InspeccionEnsamble_AnalisisResult" nillable="true" type="q48:ArrayOfCalidadEnsambleBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_InspeccionEnsamble_AnalisisDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lista" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_InspeccionEnsamble_AnalisisDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Calidad" minOccurs="0" name="CAL_InspeccionEnsamble_AnalisisDetalleResult" nillable="true" type="q49:ArrayOfCalidadEnsambleDetalleBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_ResguardoQA_Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Calidad" minOccurs="0" name="Obj" nillable="true" type="q50:CalidadResguardoQA" />
        <xs:element minOccurs="0" name="Detalle" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_ResguardoQA_GuardarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CAL_ResguardoQA_GuardarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_ResguardoQA_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Calidad" minOccurs="0" name="Obj" nillable="true" type="q51:CalidadResguardoQA" />
        <xs:element minOccurs="0" name="Detalle" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_ResguardoQA_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CAL_ResguardoQA_ActualizarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_ResguardoQA_Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdProducto" type="xs:int" />
        <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_ResguardoQA_ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Calidad" minOccurs="0" name="CAL_ResguardoQA_ObtenerResult" nillable="true" type="q52:ArrayOfCalidadResguardoQA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_AnalisisInyeccion_Histograma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lista" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_AnalisisInyeccion_HistogramaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Calidad" minOccurs="0" name="CAL_AnalisisInyeccion_HistogramaResult" nillable="true" type="q53:ArrayOfCalidadGraficasCavidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_AnalisisInyeccion_GraficaControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lista" type="xs:int" />
        <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_AnalisisInyeccion_GraficaControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Calidad" minOccurs="0" name="CAL_AnalisisInyeccion_GraficaControlResult" nillable="true" type="q54:ArrayOfCalidadGraficasCavidades" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_AnalisisInyeccion_Histograma_Historico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Inicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Final" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_AnalisisInyeccion_Histograma_HistoricoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Calidad" minOccurs="0" name="CAL_AnalisisInyeccion_Histograma_HistoricoResult" nillable="true" type="q55:ArrayOfCalidadGraficasValores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_AnalisisInyeccion_GraficaSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Inicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Final" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CAL_AnalisisInyeccion_GraficaSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Hersan.Entidades.Calidad" minOccurs="0" name="CAL_AnalisisInyeccion_GraficaSeriesResult" nillable="true" type="q56:ArrayOfCalidadGraficaSeries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>